.articles {
	
	margin: 2rem auto 2rem auto;

	&__container {

		margin: 1rem 1rem 1rem 1rem;
		border: .125rem solid $LightSlate;
		background-color: $LightNavy;

		&__grid {

			margin: 2rem auto 2rem auto;
			// text-align: center;
			// align-items: center;
			// justify-content: center;
			border: .125rem solid $LightestSlate;
			background-color: $LightNavy;

			&__img {

				width: 400px; 
				height: 250px;
				border: .125rem solid $LightestSlate;
			}

			&__title {

				margin: 1rem auto .4rem auto;
				padding: 1rem auto 1rem auto;
			}
			
			&__price {

				padding: .2rem;
				color: $RoseGold;
				background-color: $Navy;
				border: .125rem solid $LightestSlate;
				border-radius: 1rem;
			}

			// &__btn {
				
				// margin-top: .4rem .2rem auto .2rem;
				// width: $btn-size-xxs;
			// }

			p {
				small {
					color: gray;
					font-size: .8rem;
					font-weight: 100;
				}
			}

			&:hover {
				border: .125rem solid $SimplerLimeGreen;
				background-color: $LightestNavy;
			}
		}
	}
}