.auth {

	text-align: center;
	align-items: center;

	&__grid {

		&__img {
			margin-top: .2rem;
		}

		&__title {
			margin-bottom: .8rem;
		}

		&__text {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
	}
}