.cart {

	margin: 1rem auto 1rem auto;

	&__container {

		margin: 1rem auto 1rem auto;

		&__grid {

			margin: .2rem auto 1rem auto;
			background-color: $LightNavy;
			border: .125rem solid $LightestNavy;

			&:hover {

				border: .125rem solid $LightestSlate;
			}

			&__img {

				width: 37.5rem;
				height: 21.875rem;
				max-width: 100%;
				border: .125rem solid $LightSlate;
			}

			&__title {

				margin: .2rem .2rem .2rem .2rem;
				padding: 1rem 1rem 1rem 1rem;
				font-size: 2.2rem;
				font-weight: 200;
				line-height: 2rem;
				color: $Casablanca;
			}

			&__desc {

				font-weight: 200;
				line-height: 2rem;
			}

			&__price {

				margin: 2rem 2rem 2rem 2rem;
				padding: 1rem 1rem 1rem 1rem;
				font-size: 2rem;
				color: $CuriousBlue;
				background-color: $Navy;
				border: .125rem solid $LightestSlate;
				border-radius: 1rem;
			}

			&__btn {

				margin-top: 0.2rem;
			}

			small {
				padding: 1rem;
			}
		}
	}
}