.chat {

	margin: 1rem auto 1rem auto;

	&__container {

		margin: 1rem auto 1rem auto;
		// background-color: $LightNavy;
		border: .125rem solid $LightestNavy;

		&__details {

			margin: 1rem 1rem 1rem 1rem;
			padding: 1rem 1rem 1rem 1rem;
			background-color: $LightNavy;
			border:.125rem solid $LightestNavy;

			&:hover {

				border: .125rem solid $LightestSlate;
			}
			
			&__img {

				margin: 1rem auto 1rem auto;
				padding: 1rem 1rem 1rem 1rem;
				width: 12.25rem;
				height: 12.25rem;
				border: .125rem solid $LightestSlate;
				border-radius: 50%;

				&:hover {
					background-color: $LightNavy;
				}
			}

			&__name {

				margin: 1rem auto 1rem auto;
				padding: 1rem 1rem 1rem 1rem;
				font-size: 2rem;
				color: $LightSlate;
			}
		}


		&__header {
			background-color: $LightNavy;
		}

		&__grid {

			margin: 1rem 1rem 1rem 1rem;
			background-color: $LightNavy;
			border: .125rem solid $LightSlate;
			border-radius: 0.3rem;

			&__message {

				margin: .2rem auto .2rem auto;
				height: calc(100vh - 25rem);
				overflow-y: scroll;
				line-height: 2rem;
				font-size: 1rem;
				font-weight: 300;

				&__sender {

					margin: .2rem .2rem .2rem auto;
					padding: .2rem;
					min-width: 15%;
					max-width: 65%;
					float: right;
					border: .125rem solid $White;
					border-radius: .6rem;
					
					p {
						margin-bottom: 0;
						padding: .2rem .4rem 0 1rem;
						text-align: right;
					}

					small {
						padding: auto 1rem auto 1rem;
						float: right;
					}
				}

				&__receiver {

					margin: .2rem auto .2rem .2rem;
					padding: .2rem;
					min-width: 15%;
					max-width: 65%;
					float: left;
					border: .125rem solid $White;
					border-radius: .6rem;

					p {
						margin-bottom: 0;
						padding: .2rem 1rem 0 .4rem;
						text-align: left;
					}

					small {
						padding: auto 1rem auto 1rem;
						float: left;
					}
				}

				small {
					font-size: .8rem;
					font-weight: 100;
					color: gray;
				}
			}		
		}

		&__footer {
			padding: 1rem auto 1rem auto;
		}
	}
}