.chats {

	margin: 2rem auto 2rem auto;

	&__container {

		margin: 1rem auto 1rem auto;
		height: calc(100vh - 5rem);
		overflow-y: auto;
		border: .125rem solid $LightestSlate;
		
		&__grid {

			margin: .4rem .4rem .4rem .4rem;
			background-color: $LightNavy;
			border: .125rem solid $LightestNavy;
			border-radius: .1rem;
			
			&:hover {

				border: .125rem solid $LightestSlate;
			}

			&__header {

				background-color: $LightNavy;
				border-bottom: .125rem solid $LightSlate;

				&__img {

					margin: .2rem auto .2rem auto;
					padding: 1rem 1rem 1rem 1rem;
					width: 7.5rem;
					height: 7.5rem;
					border: .125rem solid $LightestNavy;
					border-radius: 50%;
				}

				&__name {
					margin: 2rem 0 .2rem auto;
					padding: 2rem 0 .2rem auto;
					font-size: 2rem;
					font-weight: 300;
					color: $VanillaGrey;
				}
			}
		}
	}

	small {

		margin: 0 0 0 0;
		padding: 0 0 0 0;
		font-size: 1rem;
		font-weight: 100;
		color: gray;
	}
}