.error-message, .success-message {
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 30px;
  font-size: 20;
}

.error-message-type, .success-message-type {
  max-width: 700px;
  margin: auto;
  font-size: 24;
}

.error-message-a, .success-message-a {
  color: white;
  text-decoration: none !important;
}