html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    // display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    color: whitesmoke;
    background-color: #001831;
    overflow-x: hidden;

    &.no-scroll {
        overflow: hidden;
    }
}

.hex__animation {
    width: max-content;
    max-width: 100px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

svg {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    fill: none;
}

.container {
	max-width: 800px;
    // padding-top: 1.5rem;
    padding-right: 1.5rem;
    // padding-bottom: 1.5rem;
    padding-left: 1.5rem;
}

h1, h2, h3 {
    margin-top: 0;
}

h1 {
    color : #428bca;
    margin-bottom: 10px;
    font-weight: lighter;
}

h1:hover {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: white;
    color: #7dce94;
}

h2, .home-head, .h2 {
    color: #ff0000e1;
    font-weight: 400;
}

h3 {
    color: cadetblue;
}

h4 {
    color: rgb(141, 130, 238);
    font-weight: lighter;
}

h5 {
    color: #c2dde6;
    font-weight: lighter;
}

a {
    color: $LightSlate;
    text-decoration: none !important;
}

a:hover, i:hover, .has-hover:hover {
    color: $NeonGreen;
    cursor: pointer;
}

/* Hover Over Effect*/
a, i, .has-hover {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

hr {
    margin: 3rem;
    height: .125rem;
    background-color: $LightSlate;
}

.alert {
    text-align: center;
    font-size: 24px;
}

.row {
    margin: 1rem;
    padding: 0.5rem;
}

.col-md-6, .col-md-5, .col-md-2 {
    padding: 0.7rem;
}

// Flex Box
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

// Visibility
.hide-for-mobile {
    @include breakpoint-down(md) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(lg) {
        display: none;
    }
}