.person {

	margin: 1rem auto 1rem auto;
	
	border: .125rem solid $LightSlate;
	background-color: $LightNavy;


	&__grid {

		margin: 1rem 1rem 1rem 1rem;
		padding: 1rem 1rem 1rem 1rem;
		border: .125rem solid $LightestSlate;
		background-color: $LightestNavy;

		&__img {

			margin: 1rem auto 1rem auto;
			width: 200px;
			height: 200px;
			text-align: center;
			align-items: center;
			border-radius: 50%;
			border: .125rem solid $LightestSlate;
		}

		&__name {

			margin-top: 1rem;
			padding-right: 1rem;
			font-size: 2rem;
			color: $LightSlate;
		}

		&__username {

			font-size: 1rem;
			font-weight: 300;
			color: $NeonGreen;
		}

		&__bio {
			font-size: 1rem;
		}

		&__email. &__ph_no {
			font-size: 1rem;
		}

		&__age, &__gender {
			font-size: 1rem;
		}

		&__btn {

			margin: 1rem auto 1rem auto;
		}

		&__form {

			margin: 1rem 2rem 1rem 2rem;
		}
	}

	&__rented, &__display, &__bookmarked, &__purchased, &__sold {

		margin: 1rem auto 1rem auto;
	}
}