$width-xs: 0px;
$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;
$width-xl: 1200px;


$btn-size-xxs: 1.0in;
$btn-size-xs: 2.0in;
$btn-size-sm: 2.5in;
$btn-size-md: 3.0in;
$btn-size-lg: 3.5in;
$btn-size-xl: 5.0in;


$font-xl: 2.0rem;
$font-lg: 1.50rem;
$font-md: 1.250rem;
$font-sm: 1.125rem;
$font-xs: 0.875rem;
$font-xxs: 0.5rem;


$BarelyGreen: #acb7ae;
$LightSaberBlue: #c2dde6;
$Blonde: #c2b490;
$DeepMatteGrey: #393f4d;
$DarkSlate:#1d1e22;
$SimplerLimeGreen: #7dce94;
$RoseGold: #bd8c7d;
$SoftGold:	#d1bfa7;
$Silver: #8e8e90;
$Onyx: #49494b;
$ScuffedDarkGrey: #3d3d3f;
$VanillaGrey: #f6f5f3;
$Whiteish: #f9f8fd;
$Casablanca: #F6AF44;
$Patina: #5b9084;

$CuriousBlue: #428bca;
$CadetBlue: rgb(95, 158, 160);

$Navy: #0a192f;
$LightNavy: #112240;
$LightestNavy: #233554;
$Slate: #8892b0;
$LightSlate: #a8b2d1;
$LightestSlate:	#ccd6f6;
$White: #e6f1ff;
$NeonGreen: #64ffda;
$DarkNeonGreen: #64ff8d;


$std-font: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

// font-family: 'Roboto Mono', monospace;