@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 1s ease-in-out forwards;
          animation: fade-in 1s ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 1s ease-in-out forwards;
          animation: fade-out 1s ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.3;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: whitesmoke;
  background-color: #001831;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

.hex__animation {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

svg {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  fill: none;
}

.container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

h1, h2, h3 {
  margin-top: 0;
}

h1 {
  color: #428bca;
  margin-bottom: 10px;
  font-weight: lighter;
}

h1:hover {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  background-color: white;
  color: #7dce94;
}

h2, .home-head, .h2 {
  color: #ff0000e1;
  font-weight: 400;
}

h3 {
  color: cadetblue;
}

h4 {
  color: #8d82ee;
  font-weight: lighter;
}

h5 {
  color: #c2dde6;
  font-weight: lighter;
}

a {
  color: #a8b2d1;
  text-decoration: none !important;
}

a:hover, i:hover, .has-hover:hover {
  color: #64ffda;
  cursor: pointer;
}

/* Hover Over Effect*/
a, i, .has-hover {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

hr {
  margin: 3rem;
  height: .125rem;
  background-color: #a8b2d1;
}

.alert {
  text-align: center;
  font-size: 24px;
}

.row {
  margin: 1rem;
  padding: 0.5rem;
}

.col-md-6, .col-md-5, .col-md-2 {
  padding: 0.7rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: relative;
  z-index: 1;
  border-top: 1px solid #112240;
  border-bottom: 1px solid #112240;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0a192f), to(#233554));
  background-image: linear-gradient(to bottom, #0a192f, #233554);
}

.header nav {
  position: relative;
  background-color: #0a192f;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.header__logo img {
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 100%;
  background-color: #64ffda;
}

.header__toggle > span {
  display: block;
  height: .125rem;
  width: 1.625rem;
  background-color: #64ffda;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  width: calc(100% -3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #e6f1ff;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 7px;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #F6AF44;
  text-align: center;
}

.header__links a {
  position: relative;
  font-size: 1.25rem;
  color: grey;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a:hover {
  color: #64ffda;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
}

.error-message, .success-message {
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 30px;
  font-size: 20;
}

.error-message-type, .success-message-type {
  max-width: 700px;
  margin: auto;
  font-size: 24;
}

.error-message-a, .success-message-a {
  color: white;
  text-decoration: none !important;
}

.footer {
  background-color: #112240;
  border-top: 0.125rem solid #a8b2d1;
  border-bottom: 0.125rem solid #a8b2d1;
}

.footer__grid {
  margin: 1.5rem;
  color: #a8b2d1;
  font-size: 1rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__grid__handles {
  margin-bottom: 1.3rem;
}

.footer__grid__handles a:not(:last-child) {
  margin-right: 1rem;
}

.footer__grid__text {
  font-weight: 200;
}
/*# sourceMappingURL=style.css.map */