@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 1s ease-in-out forwards;
          animation: fade-in 1s ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 1s ease-in-out forwards;
          animation: fade-out 1s ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.3;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: whitesmoke;
  background-color: #001831;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

.hex__animation {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 6.25rem;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

svg {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  fill: none;
}

.container {
  max-width: 50rem;
  margin-top: 2rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#username {
  color: #c2dde6;
}

h1, h2, h3 {
  margin-top: 0;
}

h1 {
  color: #428bca;
  margin-bottom: .8rem;
  font-weight: lighter;
}

h1:hover {
  margin-top: 1.4rem;
  color: #d1bfa7;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

h2, .home-head, .h2 {
  margin-top: 1rem;
  color: #F6AF44;
  font-weight: 400;
}

h3 {
  margin-top: .8rem;
  color: cadetblue;
  font-weight: 450;
}

h4 {
  margin-top: .6rem;
  color: #bd8c7d;
  font-weight: 500;
}

h5 {
  margin-top: .4rem;
  color: #f6f5f3;
  font-weight: 600;
}

h6 {
  margin-top: .2rem;
  color: #f6f5f3;
  font-weight: 650;
}

a {
  color: #a8b2d1;
  text-decoration: none !important;
}

a:hover, i:hover, .has-hover:hover {
  color: #64ffda;
  cursor: pointer;
}

/* Hover Over Effect*/
a, i, .has-hover {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

hr {
  margin: 3rem;
  height: .125rem;
  background-color: #a8b2d1;
}

.alert {
  text-align: center;
  font-size: 1.5rem;
}

.row {
  margin: 1rem;
  padding: 0.5rem;
}

.col-md-6, .col-md-5, .col-md-2 {
  padding: 0.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: relative;
  z-index: 1;
  border-top: 1px solid #112240;
  border-bottom: 1px solid #112240;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0a192f), to(#233554));
  background-image: linear-gradient(to bottom, #0a192f, #233554);
}

.header nav {
  position: relative;
  background-color: #0a192f;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.header__logo img {
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 100%;
  background-color: #64ffda;
}

.header__toggle > span {
  display: block;
  height: .125rem;
  width: 1.625rem;
  background-color: #64ffda;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  width: calc(100% -3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #e6f1ff;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 7px;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #F6AF44;
  text-align: center;
}

.header__links a {
  position: relative;
  font-size: 1.25rem;
  color: grey;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a:hover {
  color: #64ffda;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
}

.auth {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth__grid__img {
  margin-top: .2rem;
}

.auth__grid__title {
  margin-bottom: .8rem;
}

.auth__grid__text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.person__grid {
  margin-top: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

.person__grid__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person__grid__name {
  margin-top: 1rem;
  padding-right: 1rem;
  font-size: 2rem;
  color: #a8b2d1;
}

.person__grid__username {
  font-size: 1rem;
  font-weight: 300;
  color: #64ffda;
}

.person__rented, .person__bookmarked {
  margin: 3rem;
}

.article__grid {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article__grid__btn {
  margin-top: 2rem;
  width: 3.5in;
}

table, tr, th, td {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 10px 10px;
  text-align: center;
  border: 2px solid #bd8c7d;
  overflow: scroll;
}

th {
  color: #7dce94;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

tbody tr:hover {
  background: #233554;
}

td {
  color: #a8b2d1;
  font-size: 1.5;
  font-weight: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Error Message */
.error {
  margin: 2rem auto 1.5rem auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__grid__img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__grid__type, .error__grid .success-message-type {
  max-width: 700px;
  margin: auto;
  font-size: 2rem;
}

.error__grid__message, .error__grid .success-message {
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 30px;
  font-size: 1.4rem;
}

.error__grid__a, .error__grid .success-message-a {
  margin: 2rem auto 1rem auto;
  color: white;
  text-decoration: none !important;
}

.footer {
  background-color: #112240;
  border-top: 0.125rem solid #a8b2d1;
  border-bottom: 0.125rem solid #a8b2d1;
}

.footer__grid {
  margin: 1.5rem;
  color: #a8b2d1;
  font-size: 1rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__grid__handles {
  margin-bottom: 1.3rem;
}

.footer__grid__handles a:not(:last-child) {
  margin-right: 1rem;
}

.footer__grid__text {
  font-weight: 200;
}
/*# sourceMappingURL=style.css.map */