<!-- templates/circle/articles.html -->
{% extends 'circle/base.html' %}

{% block title %}
	Articles
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
	{% load humanizelib %}
{% endblock %}

{% block body %}
	<div class="articles container-fluid text-center">
		<div class="articles__container justify-content-center">
			<div class="row">
				{% for article in articles %}
					<div class="articles__container__grid">
						<img class="articles__container__grid__img" src="{% static article.image.url %}" alt="UA{{ article.id }}ID" style="width: 350px; height: 200px;" />
						<h4 class="articles__container__grid__title">{{ article.title }}</h4>
						<div class="row">
							<small>{{ article.pub_ts|naturaltime }}</small>
							<div class="articles__container__grid__btn">
								<a href="{% url 'article' article.id %}">
									<button class="form-control form-control-md btn btn-outline-info btn-md">View</button>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}