<!-- templates/circle/articles.html -->

{% extends 'circle/base.html' %}

{% block title %}
	UA{{ article.id }}ID
{% endblock %}

{% block head %}
	{% load static %}
{% endblock %}

{% block body %}
	<div class="container-fluid text-center">
		<div class="justify-content-center">
			<div class="row">
				<div class="col-md-8">
					<!-- <p>{{ article.image.url }}</p>	 -->
					{% if article.image %}
						<img class="article__grid__img" src="{% static article.image.url %}" alt="UA{{ article.id }}ID" style="width: 700px; height: 400px;" />
					{% else %}
						<img class="article__grid__img" src="{% static 'images/article/streets.png' %}" alt="UA{{ article.id }}ID" style="width: 700px; height: 400px;" />
					{% endif %}
				</div>
				<div class="col-md-4">
					<div class="article__grid__title">
						<h2>{{ article.title }}</h2>
					</div>
					<div class="article__grid__description">
						<p>{{ article.description }}</p>
					</div>
					<div class="row">
						<div class="col-md-4">
							<a href="{% url 'wishlist' article.id %}">
								<button class="form-control form-control-md btn btn-outline-info">Bookmark</button>
							</a>
						</div>
						<div class="col-md-4">
							<a href="{% url 'rent' article.id %}">
								<button class="form-control form-control-md btn btn-outline-warning">Rent</button>
							</a>
						</div>
						<div class="col-md-4">
							<a href="{% url 'cart' article.id %}">
								<button class="form-control form-control-md btn btn-outline-success">Buy</button>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3"></div>
						<div class="col-md-6">
							<a href="{% url 'remove' article.id 'article' %}">
								<button class="form-control form-control-md btn btn-outline-danger">Delete</button>
							</a>
						</div>
						<div class="col-md-3"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}