<!-- templates/circle/articles.html -->

{% extends 'circle/base.html' %}

{% block title %}
	Articles {{ article|length }}
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
	{% load humanizelib %}
	{% load circle_tags %}
{% endblock %}

{% block body %}
	<div class="articles">
		<div class="articles__container">
			<div class="row">
				{% for article in articles %}
					<div class="articles__container__grid">
						<img class="articles__container__grid__img" src="{% static article.image.url %}" alt="BA{{ article.id }}ID" />
						<h4 class="articles__container__grid__title">{{ article.title }}</h4>
						<div class="row mb-0">
							<div class="col-md-4">
								<p class="articles__container__grid__price">₹ {{ article.price|floatformat:2 }}</p>
							</div>
							<div class="col-md-4">
								<a class="articles__container__grid__btn" href="{% url 'article' article.id %}">
									<button class="form-control form-control-md btn btn-outline-info btn-md">View</button>
								</a>
							</div>
							<div class="col-md-4">
								{% if article|isDisplayed:request.user.person.id %}
									<a class="articles__container__grid__btn" href="{% url 'remove' article.id 'article' %}">
										<button class="form-control form-control-md btn btn-outline-danger btn-md">Remove</button>
									</a>
								{% endif %}
							</div>
						</div>
						<div class="row mt-0 mb-0">
							<div class="col-md-8">
								<p class="text-left pt-0 pr-auto pl-1 pb-0"><small class="text-muted">Last Updated {{ article.updated_ts|naturaltime }}</small></p>
							</div>
							<div class="col-md-4">
								<p class="text-right  pt-0 pr-1 pl-auto pb-0"><small class="text-muted">{{ article.pub_ts|naturaltime }}</small></p>
							</div>
						</div>
					</div>
				{% empty %}
					<div class="container container-fluid text-center">
						<div class="row justify-content-center">
							<div class="alert alert-warning" role="alert">No Articles.</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<a href="{% url 'newArticle' %}">
									<button class="form-control form-control-lg btn btn-outline-info btn-lg">Add Article.</button>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}