<!-- templates/circle/articles.html -->

{% extends 'circle/base.html' %}

{% block title %}
	UA{{ article.id }}ID
{% endblock %}

{% block head %}
	{% load static %}
{% endblock %}

{% block body %}
	<div class="container container-fluid mt-3">
		<div class="justify-content-center">
			<img src="{% static article.image.url %}" alt="UA{{ article.id }}ID" style="width: 500px; height: 300px;" />
			<h3>{{ article.title }}</h3>
			<p>{{ article.description }}</p>

			<a href="{% url 'rent' article.id %}">
				<button class="btn btn-outline-info" style="float: right;">Rent</button>
			</a>

			<a href="{% url 'cart' article.id %}">
				<button class="btn btn-outline-info" style="float: right;">Buy</button>
			</a>
		</div>
	</div>
{% endblock %}