{% load bootstrap4 %}
{% load fontawesome_5 %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <!-- Font Icons -->
    <script src="https://kit.fontawesome.com/3288abfe00.js" crossorigin="anonymous"></script>
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {% load static %}

    <link href="{% static 'circle/css/style.css' %}" rel="stylesheet">

    {% block head %}{% endblock %}

    <!-- Icon -->
	<!-- <link rel="icon" href="https://img.icons8.com/bubbles/50/000000/stormtrooper.png"> -->
	<link rel="icon" href="https://img.icons8.com/bubbles/100/000000/video-star.png" />
    <title> {% block title %}{% endblock %} | Marketplace </title>
</head>
<body>
    
    <!--TODO: Add NavBar with: App Name, LogIn, LogOut, Register, etc-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}" style="color: darkred; font-size: 2rem;">Marketplace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 1.3rem;">
			<form class="form-inline my-2 my-lg-0 mr-auto ml-auto" action="{% url 'result' %}" method="post">
				{% csrf_token %}
				<input class="form-control mr-sm-2" type="search" name="search" autocomplete="off" autofocus placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
            <ul class="navbar-nav mr-2">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li> -->
				{% if user.is_superuser %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Super
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{% url 'persons' %}">Persons</a>
							<a class="dropdown-item" href="{% url 'users' %}">Users</a>
							<a class="dropdown-item" href="{% url 'articles' %}">Articles</a>
						</div>
					</li>
				{% endif %}
				{% if user.is_authenticated %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Connections
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{% url 'friends' %}">Friends</a>
							<a class="dropdown-item" href="{% url 'chats' %}">Chats</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Transactions
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{% url 'newArticle' %}">Add Article</a>
							<a class="dropdown-item" href="{% url 'wishlist' %}">Wishlist</a>
							<a class="dropdown-item" href="{% url 'chats' %}">Rented</a>
							<a class="dropdown-item" href="{% url 'chats' %}">Bought</a>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Profile
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{% url 'person' request.user.id %}">User Details</a>
							<a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a>
							<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
						</div>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">Log In</a>
					</li>
				{% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Register</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block body %}{% endblock %}

    <hr class="mt-5">
    
    <!-- Comments and Suggestions -->
    <section class="comments">
        <script src="https://utteranc.es/client.js" repo="PriyanshBordia/Marketplace" issue-term="title"
            label="utterances" theme="dark-blue" crossorigin="anonymous" async>
		</script>
    </section>

	<!-- Footer Section -->
	<footer class="footer mt-5">
		<div class="footer__grid">
			<div class="footer__grid__handles">
				<a href="https://github.com/PriyanshBordia" target="_blank" title="PriyanshBordia"><i class="fab fa-github"
						onmouseover="play()"></i></a>
				<a href="mailto:priyanshbordia2@gmail.com" target="_blank" title="Priyansh Bordia"><i
						class="fas fa-envelope" onmouseover="play()"></i></a>
				<a href="https://www.linkedin.com/in/priyansh-b-81bb8218b/" target="_blank" title="Priyansh B."><i
						class="fab fa-linkedin" onmouseover="play()"></i></a>
				<a href="https://twitter.com/BordiaPriyansh" target="_blank" title="BordiaPriyansh"><i
						class="fab fa-twitter" onmouseover="play()"></i></a>
				<a href="https://www.instagram.com/priyansh.bordia/" target="_blank" title="priyansh.bordia"><i
						class="fab fa-instagram" onmouseover="play()"></i></a>
				<!-- <a href="#" target="_blank" title="priyansh.bordia"><i class="fa fa-snapchat-ghost" onmouseover="play()"></i></a> -->
				<!-- <a href="#" class="ml-3" target="_blank" title="BitBucket"><i class="fab fa-bitbucket" onmouseover="play()"></i></a> -->
				<!-- <a href="#" class="ml-3" target="_blank" title="GitLab"><i class="fab fa-gitlab" onmouseover="play()"></i></a> -->
				<!-- <a href="#" class="ml-3" target="_blank" title="Slack"><i class="fab fa-slack" onmouseover="play()"></i></a> -->
				<!-- <a href="#" class="ml-3" target="_blank" title=""><i class = "fab fa-discord" onmouseover="play()"></i></a> -->
				<a href="https://t.me/priyanshbordia" target="_blank" title="Priyansh Bordia"><i class="fab fa-telegram"
						onmouseover="play()"></i></a>
				<a href="https://www.youtube.com/channel/UCwBlonvBFFd4UGvnnVKVncQ?view_as=subscriber" target="_blank"
					title="Priyansh Bordia"><i class="fab fa-youtube" onmouseover="play()"></i></a>
			</div>
			<div class="footer__grid__text">
				<span class="has-hover">Created by Priyansh Bordia &copy; 2021 Marketplace, Inc.</span>
			</div>
		</div>
	</footer>
</body>
</html>
