<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <!-- Font Icons -->
    <script src="https://kit.fontawesome.com/3288abfe00.js" crossorigin="anonymous"></script>
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {% load static %}

    <link href="{% static 'circle/css/style.css' %}" rel="stylesheet">

    {% block head %}{% endblock %}

    <!-- Icon -->
    <!-- <link rel="icon" href="https://img.icons8.com/bubbles/100/000000/shop--v2.png" /> -->
	<link rel="icon" href="https://img.icons8.com/bubbles/50/000000/shop--v1.png" />
    <title> {% block title %}{% endblock %} | Marketplace</title>
</head>
<body>
    
    <!--TODO: Add NavBar with: App Name, LogIn, LogOut, Register, etc-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#" style="color: darkred; font-size: 30px;">Marketplace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <!-- {% if user.is_authenticated %} -->
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'user' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'password_reset' %}">Reset</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    <!-- {% endif %} -->
                </li>
                <li class="nav-item mr-sm-2 ml-auto">
                    <a class="nav-link mr-3" href="{% url 'password_reset' %}">Reset</a>
                </li>
                <li class="nav-item mr-sm-2 ml-auto">
                    <a class="nav-link mr-3" href="{% url 'signup' %}">Register</a>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
            <!-- </form> -->
        </div>
    </nav>

    {% block body %}{% endblock %}

    <hr class="mt-5">
    
    <!-- Comments and Suggestions -->
    <section class="comments">
        <script src="https://utteranc.es/client.js" repo="PriyanshBordia/The-MilkyWay-Airlines" issue-term="title"
            label="utterances" theme="dark-blue" crossorigin="anonymous" async></script>
    </section>
    
    <hr style="max-width:700px;">

    <!-- Footer Section -->
    <footer class="footer">
        <div class="footer__grid">
            <div class="footer__grid__handles">
                <a href="https://github.com/PriyanshBordia" target="_blank" title="PriyanshBordia"><i class="fab fa-github"
                        onmouseover="play()"></i></a>
                <a href="mailto:priyanshbordia2@gmail.com" target="_blank" title="Priyansh Bordia"><i
                        class="fas fa-envelope" onmouseover="play()"></i></a>
                <a href="https://www.linkedin.com/in/priyansh-b-81bb8218b/" target="_blank" title="Priyansh B."><i
                        class="fab fa-linkedin" onmouseover="play()"></i></a>
                <a href="https://twitter.com/BordiaPriyansh" target="_blank" title="BordiaPriyansh"><i
                        class="fab fa-twitter" onmouseover="play()"></i></a>
                <a href="https://www.instagram.com/priyansh.bordia/" target="_blank" title="priyansh.bordia"><i
                        class="fab fa-instagram" onmouseover="play()"></i></a>
                <!-- <a href="#" target="_blank" title="priyansh.bordia"><i class="fa fa-snapchat-ghost" onmouseover="play()"></i></a> -->
                <!-- <a href="#" class="ml-3" target="_blank" title="BitBucket"><i class="fab fa-bitbucket" onmouseover="play()"></i></a> -->
                <!-- <a href="#" class="ml-3" target="_blank" title="GitLab"><i class="fab fa-gitlab" onmouseover="play()"></i></a> -->
                <!-- <a href="#" class="ml-3" target="_blank" title="Slack"><i class="fab fa-slack" onmouseover="play()"></i></a> -->
                <!-- <a href="#" class="ml-3" target="_blank" title=""><i class = "fab fa-discord" onmouseover="play()"></i></a> -->
                <a href="https://t.me/priyanshbordia" target="_blank" title="Priyansh Bordia"><i class="fab fa-telegram"
                        onmouseover="play()"></i></a>
                <a href="https://www.youtube.com/channel/UCwBlonvBFFd4UGvnnVKVncQ?view_as=subscriber" target="_blank"
                    title="Priyansh Bordia"><i class="fab fa-youtube" onmouseover="play()"></i></a>
            </div>
            <div class="footer__grid__text">
                <span class="has-hover">Created by Priyansh Bordia &copy; 2021</span>
            </div>
        </div>
    </footer>
    
</body>
</html>
