<!-- "template/circle/cart.html" -->

{% extends "circle/base.html" %}

{% block title %}
	Cart {{ articles|length }}
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
	{% load humanizelib %}
{% endblock %}

{% block body %}
	<div class="cart">
		<div class="cart__container">
			<div class="row">
				{% for article in articles %}
					<div class="col-md-6">
						<div class="cart__container__grid">
						<img class="cart__container__grid__img" src="{% static article.image.url %}" alt="BA{{ article.id }}ID" />
						<div class="cart__container__grid__title">{{ article.title }}</div>
						<div class="cart__container__grid__price">₹ {{ article.price }}</div>
						<!-- <div class="cart__container__grid__desc"> -->
							<!-- <p class="text-left"></p>{{ article.description }} -->
						<p class="text-right"><small class="text-muted">Last updated {{ article.pub_ts|naturaltime }}</small></p>
						<!-- </div> -->
						<div class="row">
							<div class="col-md-3">
								<a href="{% url 'article' article.id %}">
									<button class="form-control form-control-md btn btn-outline-info">View</button>
								</a>
							</div>
							<div class="col-md-3">
								<a href="{% url 'rent' article.id %}">
									<button class="form-control form-control-md btn btn-outline-success">Rent</button>
								</a>
							</div>
							<div class="col-md-3">
								<a href="{% url 'wishlist' article.id %}">
									<button class="form-control form-control-md btn btn-outline-warning">Mark</button>
								</a>
							</div>
							<div class="col-md-3">
								<a href="{% url 'remove' article.id 'carted' %}">
									<button class="form-control form-control-md btn btn-outline-danger">Remove</button>
								</a>
							</div>
						</div>	
						</div>
					</div>
				{% empty %}
					<div class="container container-fluid text-center">
						<div class="row">
							<div class="alert alert-info" role="alert">
								Nothing to view.!!
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<a href="{% url 'search' %}">
									<button class="form-control btn btn-outline-info btn-md">Search</button>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}