<!-- "template/circle/chats.html" -->

{% extends "circle/base.html" %}

{% block title %}
	Chats 
{% endblock %}

{% block head %}
	{% load static %}
{% endblock %}

{% block body %}
	<div class="chats">
		<div class="chats__container justify-content-center">
			<div class="row">
				<div class="col-md-3">
					<img class="chats__container__grid__img" src="https://img.icons8.com/bubbles/200/000000/chat.png" />
					<img src="https://img.icons8.com/bubbles/50/000000/multi-edit.png" />
				</div>
				<div class="col-md-9">
					<div class="row">
						{% for chat in chats %}
							<div class="col-md-6">
								<div class="chats__container__grid__box">
									<p>{{ chat }}</p>
									<a href="{% url 'chat' chat.id %}">
										<button class="form-control form-control-lg btn btn-outline-info">Chat</button>
									</a>
								</div>
							</div>
						{% empty %}
							<div class="alert alert-info mt-3" role="alert">
								No chats to view.!!
							</div>
						{% endfor %}
					</div>
				</div>
			</div>	
		</div>
	</div>
{% endblock %}