<!-- "template/circle/chats.html" -->

{% extends "circle/base.html" %}

{% block title %}
	Chats 
{% endblock %}

{% block head %}
	{% load static %}
{% endblock %}

{% block body %}
	<div class="chat container container-fluid text-center">
		<div class="chat__grid justify-content-center">
			<div class="row">
				<div class="col-md-3">
					<img class="chat__grid__img" src="https://img.icons8.com/bubbles/200/000000/chat.png" />
				</div>
				<div class="col-md-9">
					{% for chat in chats %}
						<div class="chat__grid__container">
							<p>{{ chat.id }} </p>
						
							<div class="chat__messages__grid">
								{% for message in chat.messages %}
								<div class="chat__messages__grid__message">
									{{ message }}
								</div>
								{% endfor %}
							</div>
						</div>
					{% empty %}
						<div class="alert alert-info mt-3" role="alert">
							No chats to view.!!
						</div>
					{% endfor %}
				</div>
			</div>	
		</div>
	</div>
{% endblock %}