<!-- "template/circle/chat.html" -->

{% extends "circle/base.html" %}

{% block title %}
	Chat {{ chat.id }}
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
	{% load humanizelib %}
{% endblock %}

{% block body %}
	<div class="chat">
		<div class="chat__container">
			<div class="row">
				<div class="col-md-4">
					{% if chat.right.person.id != request.user.id %}
						<img class="chat__container__img" src="{% static chat.left.profile.url %}" alt="BP{{ person.id }}ID" />
						<h4 class="chat__container__name">{{ chat.right.first }} {{ chat.right.last }}</h4>
						<div class="row">
							<div class="col-md-6">
								<!-- <div class="chat__container__btn"> -->
									<a href="{% url 'person' chat.right.id %}">
										<button class="form-control form-control-lg btn btn-outline-info btn-lg">View</button>
									</a>
								<!-- </div> -->
							</div>
							<div class="col-md-6">
								<!-- <div class="chat__container__btn"> -->
									<a href="{% url 'remove' chat.id 'chat' %}">
										<button class="form-control form-control-lg btn btn-outline-danger btn-lg">Remove</button>
									</a>
								<!-- </div> -->
							</div>
						</div>
					{% else %}
						<img class="chat__container__img" src="{% static chat.receiver.profile.url %}" alt="BP{{ person.id }}ID" />
						<h4 class="chat__container__name">{{ chat.receiver.first }} {{ chat.receiver.last }}</h4>
						<div class="chat__container__btn">
							<a href="{% url 'person' chat.left.id %}">
								<button class="form-control form-control-md btn btn-outline-info btn-md">View</button>
							</a>
						</div>
					{% endif %}
					<hr>
				</div>
				<div class="col-md-8">
					<div class="chat__container__grid justify-content-center">
						<!-- <div class="chat__container__grid__header"></div> -->
						<div class="chat__container__grid__message">
							{% for message in chat.messages.all %}
								<div class="row">
									{% if chat.left.person.user.id == chat.right.user.id %}
										{% if chat.left.user.id == request.user.id %}
											<div class="chat__container__grid__message__sender">
												<p class="pl-2 pr-2">{{ message.text }}</p>
												<small class="pr-2 pl-2">{{ message.timestamp|naturaltime }}</small>
											</div>
										{% else %}
											<div class="chat__container__grid__message__receiver">
												<p class="pl-2 pr-2">{{ message.text }}</p>
												<small class="pl-2 pr-2">{{ message.timestamp|naturaltime }}</small>
											</div>
										{% endif %}
									{% else %}
										{% if chat.receiver.user.id == request.user.id %}
											<div class="chat__container__grid__message__sender">
												<p class="pl-2 pr-2">{{ message.text }}</p>
												<small class="pl-2 pr-2">{{ message.timestamp|naturaltime }}</small>
											</div>
										{% else %}
											<div class="chat__container__grid__message__receiver">
												<p>{{ message.text }}</p>
												<small class="pr-2 pl-2">{{ message.timestamp|naturaltime }}</small>
											</div>
										{% endif %}
									{% endif %}
								</div>
							{% empty %}
								<div class="alert alert-info" role="alert">Start a conversation.!</div>
							{% endfor %}
						</div>
					</div>
					<div class="chat__container__footer">
						<form class="form-group" action="{% url 'addMessage' chat.id %}" method="POST">
					
							{% csrf_token %}
					
							<div class="row">
								<div class="col-md-10">
									<input class="form-control form-control-lg" autocomplete="off" autofocus
										placeholder="Type your message here..." type="text" name="message" required />
								</div>
								<div class="col-md-2">
									<button class="form-control form-control-lg btn btn-lg btn-outline-info btn-lg"><i class="fas fa-arrow-right"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}