<!-- "template/circle/chat.html" -->

{% extends "circle/base.html" %}

{% block title %}
	Chat {{ chat.id }}
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
	{% load humanizelib %}
{% endblock %}

{% block body %}
	<div class="chat text-center">
		<div class="chat__container justify-content-center">
			<div class="row">
				<div class="col-md-4">
					<img class="chat__container__img" src="https://img.icons8.com/bubbles/200/000000/topic.png" />
					<div class="chat__container__details">
						<p>details</p>
					</div>
				</div>
				<div class="col-md-8">
					<div class="chat__container__header">
						{{ chat }}
					</div>
					<div class="row chat__container__grid">
						<div class="chat__container__grid__message">
							{% for message in chat.messages.all %}
								<div class="row">
									{% if message.sender_id != request.user.id %}
										<div class="chat__container__grid__message__sender">
											{{ message.text }}
										</div>
										<br>
										<small>{{ message.timestamp|naturaltime }}</small>
									{% else %}
										<div class="chat__container__grid__message__receiver">
											{{ message.text }}
										</div>
										<br>
										<small>{{ message.timestamp|naturaltime }}</small>
									{% endif %}
								</div>
							{% empty %}
								<div class="alert alert-info">Start a conversation.!</div>
							{% endfor %}
						</div>
					</div>
					<div class="chat__container__footer">
						<form class="form-group" action="{% url 'addMessage' chat.id %}" method="POST">
					
							{% csrf_token %}
					
							<!-- {% bootstrap_form form layout='horizontal' %} -->
					
							<!-- {% bootstrap_button "<img src='https://img.icons8.com/bubbles/50/000000/sent.png' />" button_class="form-control form-control-md" button_type="submit" %} -->
					
							<div class="row">
								<div class="col-md-10">
									<input class="form-control form-control-lg" autocomplete="off" autofocus
										placeholder="Type your message here..." type="text" name="message" />
								</div>
								<div class="col-md-2">
									<button class="form-control form-control-lg btn btn-lg btn-outline-info">Send</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}