<!-- "template/circle/error.html" -->

{% extends "circle/base.html" %}

{% block title %}
    Error !!
{% endblock %}

{% block head %}
	{% load static %}
{% endblock %}

{% block body %}
	<div class="container container-fluid">
		<div class="error justify-content-center">
			<!-- <section class="error_message"> -->
				<error class="error__grid">
					<img class="error__grid__img" src="https://img.icons8.com/bubbles/200/000000/error.png" />
					<div class="alert alert-danger error_grid__type">
						{{ type }}
					</div>
					<div class="alert alert-warning erro__grid__message" role="alert">
						{{ message }}
					</div>
					<div class="error__grid__a">
						<a class="btn btn-outline-danger btn-lg" href="{% url 'search' %}" role="button">Go. Back</a>
					</div>
				</error>
			<!-- </section> -->
		</div>
	</div>
{% endblock %}