<!-- "template/circle/friends.html" -->

{% extends "circle/base.html" %}

{% block title %}
	Friends {{ friends|length }}
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
	{% load humanizelib %}
{% endblock %}

{% block body %}
	<div class="friends">
		<div class="friends__container">
			<div class="row">
				{% for friend in friends %}
					<div class="col-md-4">
						<div class="friends__container__grid">
							<div class="row">
								<div class="col-md-4">
									<img class="friends__container__grid__img" src="{% static friend.profile.url %}" alt="BP{{ friend.id }}ID" />
								</div>
								<div class="col-md-8">
									<h3 class="friends__container__grid__name">{{ friend.first }} {{ friend.last }}</h3>
								</div>
							</div>
							<div class="row mb-0">
								<div class="col-md-4">
									<a href="{% url 'person' friend.id %}">
										<button class="form-control form-control-lg btn btn-outline-info btn-lg">View</button>
									</a>
								</div>
								<div class="col-md-4">
									{% for chat in chats %}
										{% if chat.left.id == friend.id or chat.right.id == friend.id %}
											<a href="{% url 'chat' chat.id %}">
												<button class="form-control form-control-lg btn btn-outline-warning btn-lg">Chat</button>
											</a>
										{% endif %}
									{% endfor %}
								</div>
								<div class="col-md-4">
									<a href="{% url 'remove' friend.id 'friend' %}">
										<button class="form-control form-control-lg btn btn-outline-danger btn-lg">Unfriend</button>
									</a>
								</div>
							</div>
							<div class="row mt-2 mb-0 pb-0">
								<div class="col-md-8 mb-0">
									<p class="text-left"><small class="text-muted">Last Seen {{ friend.user.last_login|naturaltime }}</small></p>
								</div>
								<div class="col-md-4 mb-0">
									<!-- <p class="text-right"><small class="text-muted">{{ friend.updated_ts|naturaltime }}</small></p> -->
								</div>
							</div>
						</div>
					</div>
				{% empty %}
					<div class="container container-fluid text-center">
						<div class="row justify-content-center">
							<div class="alert alert-info" role="alert">You don't have any friends.</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<a href="{% url 'search' %}">
									<button class="form-control form-control-lg btn btn-outline-warning btn-lg">Find people.!</button>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}