<!-- "template/circle/friends.html" -->

{% extends "circle/base.html" %}

{% block title %}
	Friends
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
	{% load humanizelib %}
{% endblock %}

{% block body %}
	<div class="friends">
		<div class="friends__container">
			<div class="row">
				{% for friend in friends %}
					<div class="col-md-4">
						<div class="friends__container__grid">
							<img class="friends__container__grid__img" src="{% static friend.profile.url %}" alt="{{ friend.id }}" />
							<h3 class="friends__container__grid__name">{{ chat.receiver.first }} {{ chat.receiver.last }}</h3>
							<div class="row">
								<div class="col-md-4">
									<!-- <p class="text-left"><small class="text-muted">{{ friend }}</small></p> -->
									<!-- <a href="{% url 'chats' %}">
										<button class="friend__container__grid__btn form-control form-control-md btn btn-outline-danger btn-md"></button>
									</a> -->
								</div>
								<div class="col-md-4">
									<a href="{% url 'chat' chat.id %}">
										<button class="friend__container__grid__btn form-control form-control-md btn btn-outline-warning btn-md">Chat</button>
									</a>
								</div>
								<div class="col-md-4">
									<a href="{% url 'remove' chat.receiver.id 'friend' %}">
										<button class="friend__container__grid__btn form-control form-control-md btn btn-outline-danger btn-md">Unfriend</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				{% empty %}
					<div class="container container-fluid text-center">
						<div class="row justify-content-center">
							<div class="alert alert-info" role="alert">You don't have any friends.</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<a href="{% url 'search' %}">
									<button class="form-control form-control-lg btn btn-outline-warning btn-lg">Find people.!</button>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}