<!-- "template/circle/newArticle.html" -->

{% extends "circle/base.html" %}

{% block title %}
	Add Article
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
	{% load humanizelib %}
{% endblock %}

{% block body %}
	<div class="container container-fluid text-center" style="max-width: 1100px; margin: 2rem auto 2rem auto;">
		<div class="row justify-content-center">
			<div class="col-md-4">
				<img src="https://img.icons8.com/bubbles/200/000000/multi-edit.png" />
				
				{% if not_tagged|length > 0 %}
					<form class="form-group">
						<select class="form-control" name="tags" id="" class="custom-select">
							{% for tag in not_tagged %}
							<option value="{{ tag.id }}">{{ tag.name }}</option>
							{% endfor %}
						</select>
					</form>
				{% else %}
					<div class="alert alert-success">All tags used.</div>
				{% endif %}

				<a href="{% url 'search' %}"> 
					<button class="form-control form-control-lg btn btn-outline-secondary btn-lg">
						Cancel
					</button>
				</a>
			</div>
			<div class="col-md-8">
				<form class="form-group" action="{% url 'addArticle' %}" method="post" enctype="multipart/form-data">
		
					{% csrf_token %}
		
					{% bootstrap_form form layout='horizontal' %}
		
					<div class="row mt-5">
						<div class="col-md-6">
							{% bootstrap_button "Reset" button_class="form-control form-control-lg btn btn-outline-warning btn-lg" button_type="reset" %}
						</div>
						<div class="col-md-6">
							{% bootstrap_button "Add.!" button_class="form-control form-control-lg btn btn-outline-success btn-lg" button_type="submit" %}
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}