<!-- "template/circle/newArticle.html" -->

{% extends "circle/base.html" %}

{% block title %}
	Add Article
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
{% endblock %}

{% block body %}
	<div class="article container-fluid text-center">
		<div class="article__grid justify-content-center">
			<div class="row">
				<div class="article__grid__img col-md-3">
					<img src="https://img.icons8.com/bubbles/200/000000/form.png" />
					<img src="https://img.icons8.com/bubbles/200/000000/form.png" />
					<img src="https://img.icons8.com/bubbles/200/000000/form.png" />
				</div>
				<div class="col-md-9">
					<form class="form-group" action="{% url 'addArticle' %}" method="post">

						{% csrf_token %}
						
						{% bootstrap_form form layout='horizontal' %}
						
						
						{% if not_tagged|length > 0 %}
							<div class="form-control">
								<select name="tags" id="" class="custom-select">
									{% for tag in not_tagged %}
										<option value="{{ tag.id }}">{{ tag.name }}</option>
									{% endfor %}
								</select>
							</div>
						{% endif %}

						<div class="form-row">
							<div class="col-md-6">
								{% bootstrap_button "Reset" button_class="form-control btn btn-outline-warning" button_type="reset" %}
							</div>
							<div class="col-md-6">
								{% bootstrap_button "Add.!" button_class="form-control btn btn-outline-success" button_type="submit" %}
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}