<!-- "template/circle/newPerson.html" -->

{% extends "circle/base.html" %}

{% block title %}
	Add Person
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
{% endblock %}

{% block body %}
	<div class="person container-fluid text-center">
		<div class="person__grid justify-content-center">
			<div class="row">
				<div class="col-md-3">
					<img src="https://img.icons8.com/bubbles/200/000000/form.png" />
					<img src="https://img.icons8.com/bubbles/200/000000/form.png" />
					<img src="https://img.icons8.com/bubbles/200/000000/form.png" />
				</div>
				<div class="col-md-9">
					<form class="form-group" action="{% url 'addPerson' %}" action="POST">
						{% csrf_token %}
				
						
						{% bootstrap_form form layout='horizontal' %}
				
						<div class="form-row">
							<div class="col-md-6">
								{% bootstrap_button "Reset" button_class="form-control btn btn-outline-warning" button_type="reset" %}
							</div>
							<div class="col-md-6">
								{% bootstrap_button "Add.!" button_class="form-control btn btn-outline-success" button_type="submit" %}
							</div>
						</div>
					</form>
				</div>
			</div>
			<form>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputEmail4">Email</label>
						<input type="email" class="form-control" id="inputEmail4" placeholder="Email">
					</div>
					<div class="form-group col-md-6">
						<label for="inputPassword4">Password</label>
						<input type="password" class="form-control" id="inputPassword4" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<label for="inputAddress">Address</label>
					<input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
				</div>
				<div class="form-group">
					<label for="inputAddress2">Address 2</label>
					<input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputCity">City</label>
						<input type="text" class="form-control" id="inputCity">
					</div>
					<div class="form-group col-md-4">
						<label for="inputState">State</label>
						<select id="inputState" class="form-control">
							<option selected>Choose...</option>
							<option>...</option>
						</select>
					</div>
					<div class="form-group col-md-2">
						<label for="inputZip">Zip</label>
						<input type="text" class="form-control" id="inputZip">
					</div>
				</div>
				<div class="form-group">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="gridCheck">
						<label class="form-check-label" for="gridCheck">
							Check me out
						</label>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Sign in</button>
			</form>
		</div>
	</div>
{% endblock %}