<!-- "template/circle/newPerson.html" -->

{% extends "circle/base.html" %}

{% block title %}
	Add Person
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
{% endblock %}

{% block body %}
	<div class="container container-fluid text-center" style="max-width: 1000px; margin: auto;">
		<div class="justify-content-center">
			<div class="row">
				<div class="col-md-3">
					<img src="https://img.icons8.com/bubbles/200/000000/form.png" />
					<!-- <img src="https://img.icons8.com/bubbles/200/000000/form.png" /> -->
					<!-- <img src="https://img.icons8.com/bubbles/200/000000/form.png" /> -->
				</div>
				<div class="col-md-9">
					<form class="form-group" action="{% url 'addPerson' %}" method="POST" enctype="multipart/form-data">
						
						{% csrf_token %}
				
						{% bootstrap_form form layout='horizontal' %}
				
						<div class="row">
							<div class="col-md-4">
								{% bootstrap_button "Reset" button_class="form-control form-control-md btn btn-outline-warning btn-md" button_type="reset" %}
							</div>
							<div class="col-md-4">
								{% bootstrap_button "Add.!" button_class="form-control form-control-md btn btn-outline-success btn-md" button_type="submit" %}
							</div>
							<div class="col-md-4">
								<a href="{% url 'search' %}" class="form-control form-control-md btn btn-outline-info btn-md" role="button"> 
									Cancel
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}