<!-- "template/circle/persons.html" -->

{% extends "circle/base.html" %}

{% block title %}
	Persons
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
	{% load humanizelib %}
{% endblock %}

{% block body %}
	<div class="persons">
		{% if persons|length > 0 %}
			<div class="persons__grid justify-content-center">
				<div class="row">
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-6">
								<img src="https://img.icons8.com/bubbles/200/000000/private-account-male.png" />
							</div>
							<div class="col-md-6">
								<img src="https://img.icons8.com/bubbles/200/000000/private-account-female.png" />
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<h2> Persons </h2>
						<hr>
						<table class="center">
							<thead>
								<tr>
									<th>MPUID</th>
									<th>Username</th>
									<th>Details</th>
								<tr>
							</thead>
							<tbody>
								{% for person in persons %}
									<tr>
										<td>{{ person.id }}</td>
										<td>{{ person.username }}</td>
										<td>
											<a href="{% url 'person' person.user.id %}">
												<button class="form-control form-control-lg btn btn-outline-info btn-lg">Show</button>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		{% else %}
			<div class="container container-fluid">
				<div class="row justify-content-center">
					<div class="alert alert-info" role="alert">No Persons.</div>
					<a href="{% url 'newPerson' %}">
						<button class="form-control form-control-lg btn btn-outline-info btn-lg">Add Person.</button>
					</a>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}