<!-- "template/circle/person.html" -->

{% extends "circle/base.html" %}

{% block title %}
	BP{{ person.id }}ID
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
	{% load humanizelib %}
	{% load circle_tags %}
{% endblock %}

{% block body %}
	<div class="person">
		<div class="row">
			{% if form %}
				<div class="col-md-4">
					<div class="person__grid">
						{% if person.profile %}
							<img class="person__grid__img" src="{% static person.profile.url %}" alt="BP{{ person.id }}ID" />
						{% else %}
							{% if person.sex == 'M' %}
								<img src="https://img.icons8.com/bubbles/200/000000/writer-male.png" />
							{% elif person.sex == 'F' %}
								<img src="https://img.icons8.com/bubbles/200/000000/writer-female.png" />
							{% else %}
								<img src="https://img.icons8.com/bubbles/200/000000/iphone-spinner.png" />
							{% endif %}
						{% endif %}
						<p class="person__grid__name">{{ person.first }} {{ person.last }}</p>
						<p class="person__grid__username">{{ person.username }} </p>
						<p class="person__grid__gender">{{ person.age }} {{ person.sex }}</p>
						<p class="person__grid__bio"><i class="far fa-address-card"></i> {{ person.bio }}</p>
						<p class="person__grid__email"><i class="fas fa-envelope"></i> {{ person.email }} </p>
						<p class="person__grid__ph_no"><i class="fas fa-phone-alt"></i> {{ person.ph_no }} </p>
						<div class="row mt-0 mb-0 pb-0">
							<div class="col-md-8 pb-0">
								<p class="text-left pl-1 pr-auto pt-0"><small class="text-muted">Last Updated {{ person.updated_ts|naturaltime }}</small></p>
							</div>
							<div class="col-md-4 pb-0">
								<p class="text-right pl-auto pr-1 pt-0"><small class="text-muted">{{ person.created_ts|naturaltime }}</small></p>
							</div>
						</div>
					</div>
					<div class="row mt-0">
						<div class="col-md-12">
							<a class="person__grid__btn" href="{% url 'person' request.user.id %}">
								{% bootstrap_button "Cancel" button_class="form-control form-control-lg btn btn-outline-info btn-lg" %}
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="person__grid__form">
						<form class="form-group" action="{% url 'edit' person.id 'person' %}" method="POST" enctype="multipart/form-data">
						
							{% csrf_token %}
						
							{% bootstrap_form form layout='horizontal' %}
						
							<div class="row">
								<div class="col-md-2"></div>
								<div class="col-md-4">
									{% bootstrap_button "Reset" button_class="form-control form-control-lg btn btn-outline-warning btn-lg" button_type="reset" %}
								</div>
								<div class="col-md-4">
									{% bootstrap_button "Save" button_class="form-control form-control-lg btn btn-outline-success btn-lg" button_type="submit" %}
								</div>
								<div class="col-md-2"></div>
							</div>
						</form>
					</div>
				</div>
			{% else %}
				<div class="col-md-4">
					<div class="person__grid">
						{% if person.profile %}
							<img class="person__grid__img" src="{% static person.profile.url %}" alt="BP{{ person.id }}ID" />
						{% else %}
							<img src="https://img.icons8.com/bubbles/200/000000/name.png" alt="BP{{ person.id }}ID" />
						{% endif %}
						<p class="person__grid__name">{{ person.first }} {{ person.last }}</p>
						<p class="person__grid__username">{{ person.username }} </p>
						{% if person|isFriend:request.user.person.id or person.id == request.user.person.id %}
							<p class="person__grid__gender">{{ person.age }} {{ person.sex }}</p>
							<p class="person__grid__bio"><i class="far fa-address-card"></i> {{ person.bio }}</p>
							<p class="person__grid__email"><i class="fas fa-envelope"></i> {{ person.email }} </p>
							<p class="person__grid__ph_no"><i class="fas fa-phone-alt"></i> {{ person.ph_no }} </p>
						{% endif %}
						<div class="row mt-0 mb-0 pb-0">
							<div class="col-md-8 pb-0">
								<p class="text-left pt-auto pr-auto pb-0 pl-1"><small class="text-muted">Last Updated {{ person.updated_ts|naturaltime }}</small></p>
							</div>
							<div class="col-md-4 pb-0">
								<p class="text-right pr-1 pt-0 pb-0 pl-auto"><small class="text-muted">{{ person.created_ts|naturaltime }}</small>
								</p>
							</div>
						</div>
					</div>
					{% if person.user.id == request.user.id %}
						<div class="row mt-0 mb-0">
							<div class="col-md-6">
								<a href="{% url 'edit' person.id 'person' %}">
									<button class="form-control form-control-lg btn btn-outline-primary btn-lg">Edit</button>
								</a>
							</div>
							<div class="col-md-6">
								<a href="{% url 'remove' person.id 'person' %}">
									<button class="form-control form-control-lg btn btn-outline-danger btn-lg">Delete</button>
								</a>
							</div>
						</div>
					{% else %}
						{% if person|isFriend:request.user.person.id %}
							<div class="row mt-0 mb-0">
								<div class="col-md-6">
									<a href="{% url 'chat' chat_id %}">
										<button class="form-control form-control-lg btn btn-outline-warning btn-lg">Chat</button>
									</a>
								</div>
								<div class="col-md-6">
									<a href="{% url 'remove' person.id 'friend' %}">
										<button class="form-control form-control-lg btn btn-outline-danger btn-lg">Remove</button>
									</a>
								</div>
							</div>
						{% else %}
							<div class="row mt-0 mb-0">
								<div class="col-md-12">
									<a href="{% url 'addFriend' person.id %}">
										<button class="form-control form-control-lg btn btn-outline-success btn-lg">Add Friend</button>
									</a>
								</div>
							</div>
						{% endif %}
					{% endif %}
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-6">
							{% if person.rented.all|length > 0 %}
								<h3>Rented</h3>
								<div class="person__rented">
									<table class="center">
										<thead>
											<tr>
												<th>BPUID</th>
												<th>Title</th>
												<th>Details</th>
											<tr>
										</thead>
										<tbody>
											{% for article in person.rented.all %}
												<tr>
													<td>{{ article.id }}</td>
													<td>{{ article.title }}</td>
													<td>
														<a href="{% url 'article' article.id %}">
															<button class="form-control form-control-lg btn btn-outline-info btn-lg">Show</button>
														</a>
													</td>
												</tr>
											{% empty %}
												<div class="alert alert-info" role="alert">Nothing Rented.</div>
											{% endfor %}
										</tbody>
									</table>
								</div>
							{% else %}
								<div class="alert alert-info" role="alert">Nothing Rented.</div>
							{% endif %}
						</div>
						<div class="col-md-6">
							{% if person.friends.all|length > 0 %}
								<h3>Friends</h3>
								<div class="person__friends">
									<table class="center">
										<thead>
											<tr>
												<th>BPUID</th>
												<th>Name</th>
												<th>Details</th>
											<tr>
										</thead>
										<tbody>
											{% for person in person.friends.all %}
												<tr>
													<td>{{ person.id }}</td>
													<td>{{ person.first }} {{ person.last }}</td>
													<td>
														<a href="{% url 'person' person.id %}">
															<button class="form-control form-control-lg btn btn-outline-info btn-lg">View</button>
														</a>
													</td>
												</tr>
											{% empty %}
												<div class="alert alert-info" role="alert">No Friends.</div>
											{% endfor %}
										</tbody>
									</table>
								</div>
							{% else %}
								<div class="alert alert-info" role="alert">No Friends.</div>
							{% endif %}
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-6">
							{% if person.display.all|length > 0 %}
								<h3>Display</h3>
								<div class="person__display">
									<table class="center">
										<thead>
											<tr>
												<th>BAUID</th>
												<th>Title</th>
												<th>Details</th>
											<tr>
										</thead>
										<tbody>
											{% for article in person.display.all %}
												<tr>
													<td>{{ article.id }}</td>
													<td>{{ article.title }}</td>
													<td>
														<a href="{% url 'article' article.id %}">
															<button class="form-control form-control-lg btn btn-outline-info btn-lg">Show</button>
														</a>
													</td>
												</tr>
											{% empty %}
												<div class="alert alert-danger" role="alert">Nothing on Display.</div>
											{% endfor %}
										</tbody>
									</table>
								</div>
							{% else %}
								<div class="alert alert-danger" role="alert">Nothing on Display.</div>
							{% endif %}
						</div>
						<div class="col-md-6">
							{% if person.bookmarked.all|length > 0 %}
								<h3>Bookmarked</h3>
								<div class="person__bookmarked">
									<table class="center">
										<thead>
											<tr>
												<th>BAUID</th>
												<th>Title</th>
												<th>Details</th>
											<tr>
										</thead>
										<tbody>
											{% for article in person.bookmarked.all %}
												<tr>
													<td>{{ article.id }}</td>
													<td>{{ article.title }}</td>
													<td>
														<a href="{% url 'article' article.id %}">
															<button class="form-control form-control-lg btn btn-outline-info btn-lg">Show</button>
														</a>
													</td>
												</tr>
											{% empty %}
												<div class="alert alert-success" role="alert">Nothing Bookmarked.</div>
											{% endfor %}
										</tbody>
									</table>
								</div>
							{% else %}
								<div class="alert alert-success" role="alert">Nothing Bookmarked.</div>
							{% endif %}
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-6">
							{% if person.purchased.all|length > 0 %}
								<h3>Purchased</h3>
								<div class="person__purchased">
									<table class="center">
										<thead>
											<tr>
												<th>BAUID</th>
												<th>Title</th>
												<th>Details</th>
											<tr>
										</thead>
										<tbody>
											{% for article in person.purchased.all %}
												<tr>
													<td>{{ article.id }}</td>
													<td>{{ article.title }}</td>
													<td>
														<a href="{% url 'article' article.id %}">
															<button class="form-control form-control-lg btn btn-outline-info btn-lg">Show</button>
														</a>
													</td>
												</tr>
											{% empty %}
												<div class="alert alert-success" role="alert">Nothing Purchased.</div>
											{% endfor %}
										</tbody>
									</table>
								</div>
							{% else %}
								<div class="alert alert-warning" role="alert">Nothing Purchased.</div>
							{% endif %}
						</div>
						<div class="col-md-6">
							{% if person.sold.all|length > 0 %}
								<h3>Sold</h3>
								<div class="person__sold">
									<table class="center">
										<thead>
											<tr>
												<th>BAUID</th>
												<th>Title</th>
												<th>Details</th>
											<tr>
										</thead>
										<tbody>
											{% for article in person.sold.all %}
												<tr>
													<td>{{ article.id }}</td>
													<td>{{ article.title }}</td>
													<td>
														<a href="{% url 'article' article.id %}">
															<button class="form-control form-control-lg btn btn-outline-info btn-lg">Show</button>
														</a>
													</td>
												</tr>
											{% empty %}
												<div class="alert alert-success" role="alert">Nothing Sold.</div>
											{% endfor %}
										</tbody>
									</table>
								</div>
							{% else %}
								<div class="alert alert-success" role="alert">Nothing Sold.</div>
							{% endif %}
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}