<!-- "template/circle/search.html" -->

{% extends "circle/base.html" %}

{% block title %}
    Search
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
{% endblock %}

{% block body %}

    <div class="container container-fluid text-center">
        <div class="justify-content-center">
			<img src="https://img.icons8.com/bubbles/200/000000/impossible-shapes.png" />
			<br>
			<h2>Search .!</h2>

            <form class="form-group mt-3" action="{% url 'result' type %}" method="post">
                
                {% csrf_token %}

				<input class="form-control" name="search" autocomplete="off" autofocus placeholder="Type keywords for what you want to find.!" aria-label="Search" type="text">
				
				<div class="row mt-4">
					<div class="col-md-6">
						<button class="form-control form-control-lg btn btn-outline-warning btn-lg" type="reset">Reset</button>
					</div>
					<div class="col-md-6">
						<button class="form-control form-control-lg btn btn-outline-success btn-lg" type="submit">Search.!</button>
					</div>
				</div>
            </form>
        </div>
    </div>
{% endblock %}
