<!-- "template/circle/sold.html" -->

{% extends "circle/base.html" %}

{% block title %}
	Sold {{ articles|length }}
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
	{% load humanizelib %}
{% endblock %}

{% block body %}
	<div class="articles">
		<div class="articles__container">
			<div class="row">
				{% for article in articles %}
					<div class="col-md-4">
						<div class="articles__container__grid card text-white bg-dark mb-3" style="max-width: 24rem;">
							<img class="card-img-top" src="{% static article.image.url %}" alt="UA{{ article.id }}ID" style="max-width: 24rem; max-height: 20rem;">
							<div class="card-body">
								<h5 class="card-title">{{ article.title }}</h5>
								<!-- <div class="row">
									<div class="col-md-3">
										<a href="{% url 'article' article.id %}">
											<button class="form-control form-control-sm btn btn-outline-info btn-sm">View</button>
										</a>
									</div>
									<div class="col-md-3">
										<a href="{% url 'buy' article.id %}">
											<button class="form-control form-control-sm btn btn-outline-success btn-sm">Buy</button>
										</a>
									</div>
									<div class="col-md-3">
										<a href="{% url 'rent' article.id %}">
											<button class="form-control form-control-sm btn btn-outline-warning btn-sm">Rent</button>
										</a>
									</div>
									<div class="col-md-3">
										<a href="{% url 'remove' article.id 'marked' %}">
											<button class="form-control form-control-sm btn btn-outline-danger btn-sm">Remove</button>
										</a>
									</div>
								</div> -->
							</div>
							<p class="card-text text-left"><small class="text-muted">Added {{ article.pub_ts|naturaltime }}</small></p>
						</div>
					</div>
				{% empty %}
					<div class="container container-fluid text-center">
						<div class="row justify-content-center">
							<div class="alert alert-danger" role="alert">
								Nothing sold.!!
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<a href="{% url 'search' %}">
									<button class="form-control form-control-lg btn btn-outline-info btn-lg">Go. Back</button>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}