<!-- templates/circle/tags.html -->

{% extends 'circle/base.html' %}

{% block title %}
	Tags {{ tags|length }}
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
	{% load humanizelib %}
	{% load circle_tags %}
{% endblock %}

{% block body %}
	<div class="tags">
		<div class="tags__container">
			<div class="row">
				{% for tag in tags %}
					<div class="tags__container__grid">
						<h1 class="tags__container__grid__title">{{ tag.name }}</h1>
						<div class="row mb-0">
							<div class="col-md-6">
								{% if tag|isDisplayed:request.user.person.id %}
									<a href="{% url 'remove' tag.id 'tag' %}">
										<button class="form-control form-control-lg btn btn-outline-danger btn-lg">Delete</button>
									</a>
								{% endif %}
							</div>
							<div class="col-md-6">
								<a href="{% url 'tag' tag.id %}">
									<button class="form-control form-control-lg btn btn-outline-info btn-lg">View</button>
								</a>
							</div>
						</div>
						<div class="row mt-0 mb-0">
							<div class="col-md-8">
								<p class="text-left pt-0 pr-auto pl-1 pb-0"><small class="text-muted">Updated {{ tag.updated_ts|naturaltime }}</small></p>
							</div>
							<div class="col-md-4">
								<p class="text-right  pt-0 pr-1 pl-auto pb-0"><small class="text-muted">{{ tag.created_ts|naturaltime }}</small></p>
							</div>
						</div>
					</div>
				{% empty %}
					<div class="container container-fluid text-center">
						<div class="row justify-content-center">
							<div class="alert alert-warning" role="alert">No tags.</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<a href="{% url 'addTag' %}">
									<button class="form-control form-control-lg btn btn-outline-info btn-lg">Add Tag.</button>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}