<!-- "template/circle/ .html" -->

{% extends "circle/base.html" %}

{% block title %}

{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
	{% load humanizelib %}
	{% load circle_tags %}
{% endblock %}

{% block body %}

{% endblock %}

<div class="row">
	<div class="col-md-12">

	</div>
</div>

<div class="conatiner container-fluid text-center">
	<div class="justify-content-center">

	</div>
</div>

<ul>
	<li>

	</li>
</ul>

<table>
	<thead>
		<tr>
			<th>

			</th>
		</tr>
	</thead>

	<tbody>
		{% for x in xy %}
			<tr>
				<td>

				</td>
			</tr>
		{% empty %}
			<div class="alert alert-info mt-3" role="alert">
				z
			</div>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			Footer
		</tr>
	</tfoot>
</table>