<!-- templates/circle/users.html -->

{% extends 'circle/base.html' %}

{% block title %}
    Users
{% endblock %}

{% block head %}
	<style>
		.users {
			max-width: 700px;
			margin: auto;
			text-align: center;
			align-items: center;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="users">
		<br><br>
		<span><img src="https://img.icons8.com/bubbles/200/000000/user-male.png" /></span>
		<span><img src="https://img.icons8.com/bubbles/200/000000/user-female.png" /></span>
		<hr>
		<h2> Users </h2>
		<br>
		<table class="center">
			<thead>
				<tr>
					<th>MPUID</th>
					<th>Username</th>
					<th>Details</th>
				<tr>
			</thead>
	
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.username }}</td>
						<td><a class="btn btn-outline-warning btn-md mt-2 mb-2 ml-2 mr-2" href="{% url 'user' user.id %}" role="button">Show</a></td>
					</tr>
				{% empty %}
					<div class="alert alert-success" role="alert">No Users Onboard.</div>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}