<!-- "template/circle/user.html" -->

{% extends "circle/base.html" %}

{% block title %}
    MPUID{{ user.id }}
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
	<input class="form-control" type="tel" autocomplete=off autofocus placeholder="Pn_no" name="price">
{% endblock %}

<!-- 

<i class="fa fa-bell" aria-hidden="true"></i>
<i class="fa fa-bookmark" aria-hidden="true"></i>
<i class="fa fa-bookmark-o" aria-hidden="true"></i>
<i class="fa fa-trash" aria-hidden="true"></i>
<i class="fa fa-pencil" aria-hidden="true"></i> -->