<!-- "template/circle/wishlist.html" -->

{% extends "circle/base.html" %}

{% block title %}
	Wishlist {{ articles|length }}
{% endblock %}

{% block head %}
	{% load static %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="justify-content-center">
			<div class="row">
				{% for article in articles %}
					<div class="col-md-4">
						<div class="card text-white bg-dark mb-3" style="max-width: 24rem;">
							<img class="card-img-top" src="{% static article.image.url %}" alt="UA{{ article.id }}ID"
								style="max-width: 24rem; max-height: 20rem;">
							<div class="card-body">
								<h5 class="card-title">{{ article.title }}</h5>
								<a href="{% url 'article' article.id %}" class="">
									<button class="btn btn-outline-info" style="float: right;">View</button>
								</a>
								<a href="{% url 'buy' article.id %}" class="">
									<button class="btn btn-outline-success mr-3" style="float: right;">Buy</button>
								</a>
								<a href="{% url 'buy' article.id %}" class="">
									<button class="btn btn-outline-warning mr-3" style="float: right;">Rent</button>
								</a>
								<!-- <span>
									<p class="card-text">
										{{ article.description }}
									</p>
								</span> -->
								<p class="card-text"><small class="text-muted">{{ article.pub_ts }}</small></p>
							</div>
						</div>
					</div>
					</div>
				{% empty %}
					<div class="alert alert-info mt-3" role="alert">
						Nothing to view.!!
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}