.article {
	
	margin: 2rem auto 2rem auto;

	&__grid {

		margin: .8rem .4rem .8rem .4rem;
		// border: .125rem solid $LightestSlate;
		background-color: $LightNavy;

		&__img {
			
			margin: 2rem auto 2rem auto;
			width: 40.625rem; 
			height: 28.125rem;
			max-width: 100%;
			max-height: 100%;
			border: .25rem solid $LightestNavy;
	
			&:hover {
				border: .25rem solid $LightestSlate;
			}
		}

		&__title {

			margin: 1rem auto 1rem auto;
		}

		&__desc {

			margin: 2rem 1rem 2rem 1rem;
			padding: 2rem auto 2rem auto;
			height: 12rem;
			overflow-y: auto;
			line-height: 1.8rem;
			background-color: $LightestNavy;
			border: .125rem solid $LightestSlate;
		}

		&__price {

			padding: .2rem .2rem .2rem .2rem;
			background-color: $Navy;
			border: .125rem solid $LightestSlate;
			border-radius: 1rem;
		}

		&__btn {
			
			margin: 1rem auto 1rem auto;
			width: $btn-size-xxs;
		}

		small {
			padding: 0;
			font-size: 1rem;
			font-weight: 100;
			color: gray;
		}
	}
}