.articles {
	
	margin: 1rem auto 1rem auto;

	&__container {

		margin: 1rem 1rem 1rem 1rem;
		text-align: center;
		align-items: center;
		justify-content: center;

		&__grid {

			margin: 2rem auto 2rem auto;
			background-color: $LightNavy;
			
			border: .125rem solid $LightestNavy;

			&:hover {

				border: .125rem solid $LightestSlate;
			}

			&__img {

				width: 28.125rem; 
				height: 15.250rem;
				max-width: 100%;
				max-height: 100%;
				border-bottom: .25rem solid $LightestNavy;
			}

			&__title {

				margin: 1rem auto .4rem auto;
				padding: 1rem auto 1rem auto;
				font-size: 2rem;
				font-weight: 300;
				color: $LightestSlate;
			}
			
			&__price {

				padding: .7rem 1rem .7rem 1rem;
				color: $CuriousBlue;
				background-color: $Navy;
				border: .125rem solid $LightestSlate;
				border-radius: 1rem;
			}

			&__btn {
				
				margin-top: .4rem auto .2rem auto;
			}

			p {
				small {
					padding: 0;
					font-size: .8rem;
					font-weight: 100;
					color: gray;
				}
			}
		}
	}
}