.articles {
	
	margin: 2rem auto 2rem auto;

	&__container {

		&__grid {

			margin: 1.5rem auto 1.5rem auto;
			text-align: center;
			align-items: center;
			justify-content: center;
			border: .125rem solid $LightestSlate;
			background-color: $LightNavy;

			&__img {

				width: 400px; 
				height: 250px;
			}

			&__title {

				padding-top: .6rem;
			}
			
			&__price {

				padding: .4rem;
			}

			&__btn {
				
				margin-top: .4rem .2rem auto .2rem;
				width: $btn-size-xxs;
			}

			small {
				color: gray;
				font-size: .8rem;
				font-weight: 100;
			}

			&:hover {
				border: .25rem solid $SimplerLimeGreen;
				background-color: $LightestNavy;
			}
		}
	}
}