.footer {

	margin-top: 2rem;
    background-color: $LightNavy;    
    border-top: .125rem solid $LightSlate;
    border-bottom: .125rem solid $LightSlate;

    &__grid {

        margin: 1.5rem;
        // padding-bottom: 1rem;
        color: $LightSlate;
        font-size: 1rem;
        text-align: center;
        align-items: center;

        &__handles {

            margin-bottom: 1.3rem;

            a {
                &:not(:last-child)
                {
                    margin-right: 1rem;
                }
            }
        }

        &__text {

            font-weight: 200;
        }
    }
}

