.friends {

	margin: 1rem auto 1rem auto;

	&__container {

		margin: 1rem auto 1rem auto;
		text-align: center;
		align-items: center;
		justify-content: center;

		&__grid {

			margin: 2rem auto 2rem auto;
			background-color: $LightNavy;
			border: .125rem solid $LightestNavy;
			
			&:hover {
				border: .125rem solid $LightestSlate;
			}

			&__img {

				margin: .4rem auto .4rem auto;
				padding: 1rem 1rem 1rem 1rem;
				width: 9.375rem;
				height: 9.375rem;
				border: .125rem solid $LightestSlate;
				border-radius: 50%;

				&:hover {
					background-color: $LightestNavy;
				}
			}

			&__name {

				margin: 1rem 1rem 1rem 1rem;
				padding: 1rem auto .4rem auto;
				font-size: 2rem;
				font-weight: 300;
				color: $CuriousBlue;
			}

			&__username {

				font-size: 1.2rem;
				font-weight: 300;
				color: $NeonGreen;
			}

			&__bio {
				font-size: 1.2rem;
			}

			&__email, &__ph_no {
				font-size: 1.2rem;
			}
		}

		p {
			small {
				padding: 0;
				font-size: .8rem;
				font-weight: 100;
				color: gray;
			}
		}
	}
}