.friends {

	margin: 1rem 1rem 1rem 1rem;

	&__container {

		margin: 1rem auto 1rem auto;
		text-align: center;
		align-items: center;
		justify-content: center;

		&__grid {

			margin: 2rem auto 2rem auto;
			background-color: $LightNavy;
			border: .125rem solid $LightestNavy;
			
			&:hover {

				border: .125rem solid $LightestSlate;
			}

			&__img {

				margin-top: 2rem;
				padding: 1rem 1rem 1rem 1rem;
				width: 100px;
				height: 100px;
				border-radius: 50%;
				border: 2px solid coral;
			}

			&__name {

				margin: 1rem;
				padding: 1rem;
				font-size: 1.5rem;
				font-weight: 300;
				border-bottom: 1px solid $LightestSlate;
			}

			// &__btn {

			// 	margin: 1rem;
			// 	width: $btn-size-xxs;
			// }
		}

		p {
			small {
				padding: 0;
				font-size: .8rem;
				font-weight: 100;
				color: gray;
			}
		}
	}
}