html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
	text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    color: whitesmoke;
    background-color: #001831;
    overflow-x: hidden;

    &.no-scroll {
        overflow: hidden;
    }
}

.hex__animation {
    width: max-content;
    max-width: 6.25rem;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

svg {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    fill: none;
}

.container {
	max-width: 50rem;
	margin-top: 2rem;
	text-align: center;
	align-items: center;
}

#username {
	color: $LightSaberBlue;
}

h1, h2, h3 {
    margin-top: 0;
}

h1 {
    color : $CuriousBlue;
    margin-bottom: .8rem;
    font-weight: lighter;
}

h1:hover {
	margin-top: 1.4rem;
    color: $SoftGold;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

h2, .home-head, .h2 {
	margin-top: 1rem;
	margin-bottom: .5rem;
    color: $Casablanca;
    font-weight: 400;
}

h3 {
	margin-top: .8rem;
	margin-bottom: .4rem;
    color: $CadetBlue;
    font-weight: 450;
}

h4 {
	margin-top: .6rem;
	margin-bottom: .3rem;
    color: $RoseGold;
    font-weight: 500;
}

h5 {
	margin-top: .4rem;
	margin-bottom: .2rem;
    color: $VanillaGrey;
    font-weight: 600;
}

h6 {
	margin-top: .2rem;
	margin-bottom: .1rem;
	color: $VanillaGrey;
    font-weight: 650;
}

a {
    color: $LightSlate;
    text-decoration: none !important;
}

a:hover, i:hover, .has-hover:hover {
    color: $NeonGreen;
    cursor: pointer;
}

/* Hover Over Effect*/
a, i, .has-hover {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

hr {
    margin: 3rem;
    height: .125rem;
    background-color: $LightSlate;
}

.alert {
	margin: 3rem auto 2rem auto;
    font-size: 1.5rem;
    text-align: center;
	align-items: center;
}

// .row {
//     margin: .8rem auto .8rem auto;
//     padding: 0.5rem;
// }

// .col-md-6, .col-md-5, .col-md-2, .col-md-4 {
//     padding: 0.5rem;
// }

// Flex Box
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

// Visibility
.hide-for-mobile {
    @include breakpoint-down(md) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(lg) {
        display: none;
    }
}