.header {

    position: relative;
    z-index: 1;
    border-top: 1px solid $LightNavy;
    border-bottom: 1px solid $LightNavy;

    // Hamburger Open Styles
    &.open {

        // .overlay {
            // display: block;
        // }

        .header__toggle {

            > span:first-child {
                transform: rotate(45deg);
            }

            > span:nth-child(2) {
                opacity: 0;
            }

            > span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    .overlay {
        opacity: 0;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        background-image: linear-gradient(to bottom, $Navy, $LightestNavy);
    }

    nav {
        position: relative;
        background-color: $Navy;
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
    }
    
    &__logo {

        img {
            width: 3.7rem;
            height: 3.7rem;
            border-radius: 100%;
            background-color: $NeonGreen;
        }
    }

    &__toggle {

        > span {
            display: block;
            height: .125rem;
            width: 1.625rem;
            background-color: $NeonGreen;
            transition: all 200ms ease-in-out;
            transform-origin: 3px 1px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &__menu {

        position: absolute;
        width: calc(100% -3rem);
        left: 50%;
        transform: translateX(-50%);
        background: $White;
        margin-top: 1.5rem;
        padding: 1.625rem;
        border-radius: 7px;

        a {
            display: block;
            padding: 0.625rem;
            color: $Casablanca;
            text-align: center;
        }
    }

    &__links {

        a {
            position: relative;
            font-size: $font-md;
            color: grey;
            transition: color 200ms ease-in-out;

            &:not(:last-child) {
                margin-right: 32px;
            }
        }

        a:hover {
            color: $NeonGreen;
            // border-bottom: 1px solid $NeonGreen;
            // transition: top ease-in-out 0.4s;
            transition: all 200ms ease-in-out;
            -webkit-transition: all 150ms ease-in-out;
        }
    }
}

