@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 1s ease-in-out forwards;
          animation: fade-in 1s ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 1s ease-in-out forwards;
          animation: fade-out 1s ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  font-weight: 300;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.3;
  color: whitesmoke;
  background-color: #001831;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body.no-scroll {
  overflow: hidden;
}

.hex__animation {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 6.25rem;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

svg {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  fill: none;
}

.container {
  max-width: 40em;
  margin: 2rem auto 2rem auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #112240;
  border: 0.125rem solid #233554;
  border-radius: 2rem;
}

.container:hover {
  border: 0.125rem dashed #64ffda;
}

#username {
  color: #c2dde6;
}

h1 {
  margin: 1.4rem auto .7rem auto;
  font-weight: 250;
  color: #c2dde6;
}

h1:hover {
  color: #d1bfa7;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

h2, .home-head, .h2 {
  margin: 1rem auto .5rem auto;
  font-weight: 400;
  color: #F6AF44;
}

h3 {
  margin: .8rem auto .4rem auto;
  font-weight: 450;
  color: cadetblue;
}

h4 {
  margin: .6rem auto .3rem auto;
  font-weight: 500;
  color: #bd8c7d;
}

h5 {
  margin: .4rem auto .2rem auto;
  font-weight: 600;
  color: #8e8e90;
}

h6 {
  margin: .2rem auto .1rem auto;
  color: #428bca;
  font-weight: 650;
}

a {
  color: #a8b2d1;
  text-decoration: none !important;
}

a:hover, i:hover, .has-hover:hover {
  color: #64ffda;
  cursor: pointer;
}

/* Hover Over Effect*/
a, i, .has-hover {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

hr {
  margin: 2rem 3rem 2rem 3rem;
  height: .125rem;
  background-color: #a8b2d1;
}

.alert {
  margin: 2rem auto 2rem auto;
  font-size: 1.5rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row {
  margin: .2rem auto .4rem auto;
}

.col-md-12, .col-md-10, .col-md-9, .col-md-8, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2 {
  padding: 0.5rem 0.5rem 0.5rem .5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: relative;
  z-index: 1;
  border-top: 1px solid #112240;
  border-bottom: 1px solid #112240;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0a192f), to(#233554));
  background-image: linear-gradient(to bottom, #0a192f, #233554);
}

.header nav {
  position: relative;
  background-color: #0a192f;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.header__logo img {
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 100%;
  background-color: #64ffda;
}

.header__toggle > span {
  display: block;
  height: .125rem;
  width: 1.625rem;
  background-color: #64ffda;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  width: calc(100% -3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #e6f1ff;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 7px;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #F6AF44;
  text-align: center;
}

.header__links a {
  position: relative;
  font-size: 1.25rem;
  color: grey;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a:hover {
  color: #64ffda;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
}

.auth {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth__grid__img {
  margin-top: .2rem;
}

.auth__grid__title {
  margin-bottom: .8rem;
}

.auth__grid__text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search {
  margin: 2rem;
}

.person {
  margin: 1rem auto 1rem auto;
  border: 0.125rem solid #233554;
  background-color: #112240;
}

.person__grid {
  margin: .2rem .4rem .2rem .4rem;
  padding: .2rem auto .2rem auto;
  border: 0.125rem solid #233554;
}

.person__grid:hover {
  border: 0.125rem solid #ccd6f6;
}

.person__grid__img {
  margin: 1rem auto 1rem auto;
  padding: 1rem 1rem 1rem 1rem;
  width: 12.25rem;
  height: 12.25rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 0.125rem solid #ccd6f6;
}

.person__grid__img:hover {
  background-color: #112240;
}

.person__grid__name {
  margin: 1rem auto 1rem auto;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 2rem;
  color: #a8b2d1;
}

.person__grid__username {
  font-size: 1rem;
  font-weight: 300;
  color: #64ffda;
}

.person__grid__bio {
  font-size: 1rem;
}

.person__grid__email, .person__grid__ph_no {
  font-size: 1rem;
}

.person__grid__age, .person__grid__gender {
  font-size: 1rem;
}

.person__grid__btn {
  margin: 1rem auto 1rem auto;
}

.person__grid__form {
  margin: 1rem 2rem 1rem 2rem;
}

.person__rented, .person__display, .person__bookmarked, .person__purchased, .person__sold {
  margin: 1rem auto 1rem auto;
}

.persons {
  margin: 2rem auto 2rem auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.persons__grid {
  border: 0.125rem solid #ccd6f6;
  background-color: #112240;
}

.article {
  margin: 2rem auto 2rem auto;
}

.article__grid {
  margin: .8rem .4rem .8rem .4rem;
  background-color: #112240;
}

.article__grid__img {
  margin: 2rem auto 2rem auto;
  width: 40.625rem;
  height: 28.125rem;
  max-width: 100%;
  max-height: 100%;
  border: 0.25rem solid #233554;
}

.article__grid__img:hover {
  border: 0.25rem solid #ccd6f6;
}

.article__grid__title {
  margin: 1rem auto 1rem auto;
}

.article__grid__desc {
  margin: 2rem 1rem 2rem 1rem;
  padding: 2rem auto 2rem auto;
  height: 12rem;
  overflow-y: auto;
  line-height: 1.8rem;
  background-color: #233554;
  border: 0.125rem solid #ccd6f6;
}

.article__grid__price {
  padding: .2rem .2rem .2rem .2rem;
  background-color: #0a192f;
  border: 0.125rem solid #ccd6f6;
  border-radius: 1rem;
}

.article__grid__btn {
  margin: 1rem auto 1rem auto;
  width: 1in;
}

.article__grid small {
  padding: 0;
  font-size: 1rem;
  font-weight: 100;
  color: gray;
}

.articles {
  margin: 1rem auto 1rem auto;
}

.articles__container {
  margin: 1rem 1rem 1rem 1rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articles__container__grid {
  margin: 2rem auto 2rem auto;
  background-color: #112240;
  border: 0.125rem solid #233554;
}

.articles__container__grid:hover {
  border: 0.125rem solid #ccd6f6;
}

.articles__container__grid__img {
  width: 28.125rem;
  height: 15.250rem;
  max-width: 100%;
  max-height: 100%;
  border-bottom: 0.25rem solid #233554;
}

.articles__container__grid__title {
  margin: 1rem auto .4rem auto;
  padding: 1rem auto 1rem auto;
  font-size: 2rem;
  font-weight: 300;
  color: #ccd6f6;
}

.articles__container__grid__price {
  padding: .7rem 1rem .7rem 1rem;
  color: #428bca;
  background-color: #0a192f;
  border: 0.125rem solid #ccd6f6;
  border-radius: 1rem;
}

.articles__container__grid__btn {
  margin-top: .4rem auto .2rem auto;
}

.articles__container__grid p small {
  padding: 0;
  font-size: .8rem;
  font-weight: 100;
  color: gray;
}

.tag {
  margin: 2rem auto 2rem auto;
  max-width: 80rem;
  border: 0.125rem solid #233554;
}

.tag__grid {
  margin: 2rem auto 2rem auto;
  border: 0.125rem solid #ccd6f6;
}

.tags__container {
  margin: 1rem auto 1rem auto;
}

.tags__container__grid {
  margin: 2rem auto 2rem auto;
  border: 0.125rem solid #233554;
}

.friends {
  margin: 1rem auto 1rem auto;
}

.friends__container {
  margin: 1rem auto 1rem auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.friends__container__grid {
  margin: 2rem auto 2rem auto;
  background-color: #112240;
  border: 0.125rem solid #233554;
}

.friends__container__grid:hover {
  border: 0.125rem solid #ccd6f6;
}

.friends__container__grid__img {
  margin: .4rem auto .4rem auto;
  padding: 1rem 1rem 1rem 1rem;
  width: 9.375rem;
  height: 9.375rem;
  border: 0.125rem solid #ccd6f6;
  border-radius: 50%;
}

.friends__container__grid__img:hover {
  background-color: #233554;
}

.friends__container__grid__name {
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem auto .4rem auto;
  font-size: 2rem;
  font-weight: 300;
  color: #428bca;
}

.friends__container__grid__username {
  font-size: 1.2rem;
  font-weight: 300;
  color: #64ffda;
}

.friends__container__grid__bio {
  font-size: 1.2rem;
}

.friends__container__grid__email, .friends__container__grid__ph_no {
  font-size: 1.2rem;
}

.friends__container p small {
  padding: 0;
  font-size: .8rem;
  font-weight: 100;
  color: gray;
}

.chat {
  margin: 1rem auto 1rem auto;
}

.chat__container {
  margin: 1rem auto 1rem auto;
  border: 0.125rem solid #233554;
}

.chat__container__details {
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #112240;
  border: 0.125rem solid #233554;
}

.chat__container__details:hover {
  border: 0.125rem solid #ccd6f6;
}

.chat__container__details__img {
  margin: 1rem auto 1rem auto;
  padding: 1rem 1rem 1rem 1rem;
  width: 12.25rem;
  height: 12.25rem;
  border: 0.125rem solid #ccd6f6;
  border-radius: 50%;
}

.chat__container__details__img:hover {
  background-color: #112240;
}

.chat__container__details__name {
  margin: 1rem auto 1rem auto;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 2rem;
  color: #a8b2d1;
}

.chat__container__header {
  background-color: #112240;
}

.chat__container__grid {
  margin: 1rem 1rem 1rem 1rem;
  background-color: #112240;
  border: 0.125rem solid #a8b2d1;
  border-radius: 0.3rem;
}

.chat__container__grid__message {
  margin: .2rem auto .2rem auto;
  height: calc(100vh - 25rem);
  overflow-y: scroll;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 300;
}

.chat__container__grid__message__sender {
  margin: .2rem .2rem .2rem auto;
  padding: .2rem;
  min-width: 15%;
  max-width: 65%;
  float: right;
  border: 0.125rem solid #e6f1ff;
  border-radius: .6rem;
}

.chat__container__grid__message__sender p {
  margin-bottom: 0;
  padding: .2rem .4rem 0 1rem;
  text-align: right;
}

.chat__container__grid__message__sender small {
  padding: auto 1rem auto 1rem;
  float: right;
}

.chat__container__grid__message__receiver {
  margin: .2rem auto .2rem .2rem;
  padding: .2rem;
  min-width: 15%;
  max-width: 65%;
  float: left;
  border: 0.125rem solid #e6f1ff;
  border-radius: .6rem;
}

.chat__container__grid__message__receiver p {
  margin-bottom: 0;
  padding: .2rem 1rem 0 .4rem;
  text-align: left;
}

.chat__container__grid__message__receiver small {
  padding: auto 1rem auto 1rem;
  float: left;
}

.chat__container__grid__message small {
  font-size: .8rem;
  font-weight: 100;
  color: gray;
}

.chat__container__footer {
  padding: 1rem auto 1rem auto;
}

.chats {
  margin: 2rem auto 2rem auto;
}

.chats__container {
  margin: 1rem auto 1rem auto;
  height: calc(100vh - 5rem);
  overflow-y: auto;
  border: 0.125rem solid #ccd6f6;
}

.chats__container__grid {
  margin: .4rem .4rem .4rem .4rem;
  background-color: #112240;
  border: 0.125rem solid #233554;
  border-radius: .1rem;
}

.chats__container__grid:hover {
  border: 0.125rem solid #ccd6f6;
}

.chats__container__grid__header {
  background-color: #112240;
  border-bottom: 0.125rem solid #a8b2d1;
}

.chats__container__grid__header__img {
  margin: .2rem auto .2rem auto;
  padding: 1rem 1rem 1rem 1rem;
  width: 7.5rem;
  height: 7.5rem;
  border: 0.125rem solid #233554;
  border-radius: 50%;
}

.chats__container__grid__header__name {
  margin: 2rem 0 .2rem auto;
  padding: 2rem 0 .2rem auto;
  font-size: 2rem;
  font-weight: 300;
  color: #f6f5f3;
}

.chats small {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 1rem;
  font-weight: 100;
  color: gray;
}

.cart {
  margin: 1rem auto 1rem auto;
}

.cart__container {
  margin: 1rem auto 1rem auto;
}

.cart__container__grid {
  margin: .2rem auto 1rem auto;
  background-color: #112240;
  border: 0.125rem solid #233554;
}

.cart__container__grid:hover {
  border: 0.125rem solid #ccd6f6;
}

.cart__container__grid__img {
  width: 37.5rem;
  height: 21.875rem;
  max-width: 100%;
  border: 0.125rem solid #a8b2d1;
}

.cart__container__grid__title {
  margin: .2rem .2rem .2rem .2rem;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 2.2rem;
  font-weight: 200;
  line-height: 2rem;
  color: #F6AF44;
}

.cart__container__grid__desc {
  font-weight: 200;
  line-height: 2rem;
}

.cart__container__grid__price {
  margin: 2rem 2rem 2rem 2rem;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 2rem;
  color: #428bca;
  background-color: #0a192f;
  border: 0.125rem solid #ccd6f6;
  border-radius: 1rem;
}

.cart__container__grid__btn {
  margin-top: 0.2rem;
}

.cart__container__grid small {
  padding: 1rem;
}

table, tr, th, td {
  margin: 2rem auto 2rem auto;
  padding: .5rem;
  text-align: center;
  border: .125rem solid #bd8c7d;
}

thead {
  background-color: #112240;
}

tbody {
  overflow: auto;
  height: 8rem;
}

th {
  color: #7dce94;
  font-size: 1.25rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

tbody tr:hover {
  background: #233554;
}

td {
  color: #a8b2d1;
  font-size: 1.5;
  font-weight: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Error Message */
.error {
  margin: 2rem auto 1.5rem auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__grid__img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__grid__type, .error__grid .success-message-type {
  max-width: 700px;
  margin: auto;
  font-size: 2rem;
}

.error__grid__message, .error__grid .success-message {
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 30px;
  font-size: 1.4rem;
}

.error__grid__a, .error__grid .success-message-a {
  margin: 2rem auto 1rem auto;
  color: white;
  text-decoration: none !important;
}

.footer {
  margin-top: 2rem;
  background-color: #112240;
  border-top: 0.125rem solid #a8b2d1;
  border-bottom: 0.125rem solid #a8b2d1;
}

.footer__grid {
  margin: 1.5rem;
  color: #a8b2d1;
  font-size: 1rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__grid__handles {
  margin-bottom: 1.3rem;
}

.footer__grid__handles a:not(:last-child) {
  margin-right: 1rem;
}

.footer__grid__text {
  font-weight: 200;
}
/*# sourceMappingURL=style.css.map */