<!-- templates/registration/password_reset_confirm.html -->

{% extends 'flights/base.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block body %}

    {% if validlink %}
        <div class="container container-fluid text-center mt-3 ml-auto mr-auto pt-3">
            <div class="reset-password-action justify-content-centre">

                <h2 class="mt-3">Set a new password!</h2>

                <form method="POST">
                    <div class="form-group mt-3 mb-2 pt-3">
                        {% csrf_token %}

                        {{ form.as_p }}

                        <input class="password-change-btn form-control btn btn-info mt-2 pt-2" type="submit" value="Change my password">
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="container container-fluid  text-center mt-3 ml-auto mr-auto pt-3"
            <div class = "reset-password-action justify-content-centre error-message">
                <div class="alert alert-danger" role="alert">
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
