<!-- templates/registration/password_reset_form.html -->

{% extends 'flights/base.html' %}

{% block title %}
    Forgot Your Password?
{% endblock %}

{% block body %}

    <div class="container container-fluid text-center mt-3 ml-auto mr-auto">
        <div class="reset-password-action justify-content-center">

            <h2 class="mt-3">Forgot your password?</h2>

            <div class="reset-password-action-text mt-3">
                Enter your email address below, and we'll email instructions for setting a new one (Allowed User E-mail only).
            </div>

            <form method="POST">
                <div class="form-group mt-3 mb-2 pt-3">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <input class="reset-password-action-button form-control btn btn-outline-info mt-3 pt-2" type="submit" value="Send me instructions!">
                </div>
            </form>
        </div>
    </div>

{% endblock %}
