<!-- templates/registration/signup.html -->

{% extends 'circle/base.html' %}

{% block title %}
    Register
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}

    <div class="container container-fluid text-center  mt-4 ml-auto mr-auto">
        <div class="register-action-container justify-content-center">
            <h2 class="register-action-head mt-4">You register and will be a part of our family.</h2>
            <form method="post" class="form-group">
                <div class="mt-3 mb-2 pt-3">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <input class="form-control register-action-button btn btn-outline-warning mt-3" type="submit"
                        value="Register">
                </div>
            </form>
        </div>
    </div>

{% endblock %}