<!-- templates/registration/password_reset_form.html -->

{% extends 'circle/base.html' %}

{% block title %}
    Forgot Your Password?
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
{% endblock %}

{% block body %}
    <div class="auth container container-fluid text-center">
        <div class="auth__grid justify-content-center">
			<img class="auth__grid__img" src="https://img.icons8.com/clouds/200/000000/forgot-password.png" />
            <h2 class="auth__grid__title">Forgot your password?</h2>
            <div class="auth__grid__text">
                Enter your email address below, and we'll email instructions to set a new password? 
            </div>
			<!-- <div class="alert alert-danger" role="alert">(Registered User E-mail only).</div> -->
            <form class="form-group" method="POST">
				{% csrf_token %}

				{% bootstrap_form form layout='horizontal' %}

				<div class="row">
					<div class="col-md-12">
						{% bootstrap_button "Send me instructions!" button_class="form-control form-control-lg btn btn-outline-info btn-lg" button_type="submit" %}
					</div>
				</div>
            </form>
        </div>
    </div>
{% endblock %}
