<!-- templates/registration/password_reset_confirm.html -->

{% extends 'circle/base.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
{% endblock %}

{% block body %}
	<div class="auth container container-fluid text-center">
		<div class="auth__grid justify-content-center">
			{% if validlink %}
				<img class="auth__grid__img" src="https://img.icons8.com/bubbles/150/000000/synchronize.png" />
				<h2 class="auth__grid__title">Set a new password!</h2>
				<form class="form-group"  method="POST">
					{% csrf_token %}

					{% bootstrap_form form layout='horizontal' %}

					<div class="row">
						<div class="col-md-12">
							{% bootstrap_button "Change my password." button_class="form-control form-control-lg btn btn-outline-warning btn-lg" button_type="submit" %}				
						</div>
					</div>
				</form>
			{% else %}
				<img class="auth__grid__img" src="https://img.icons8.com/bubbles/200/000000/link.png" />
				<div class="auth__grid__message alert alert-danger" role="alert">
					The password reset link was invalid, possibly because it has already been used.
					Please request a new password reset.
				</div>
				<div class="row">
					<div class="col-md-12">
						<a href="{% url 'password_reset' %}">
							<button class="form-control form-control-lg btn btn-outline-warning btn-lg">
								Reset password
							</button>
						</a>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
