<!-- templates/registration/password_reset_form.html -->
{% extends 'circle/base.html' %}

{% block title %}
    Forgot Your Password?
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
{% endblock %}

{% block body %}
    <div class="container container-fluid text-center">
        <div class="reset_password_action_grid justify-content-center">

			<span><img src="https://img.icons8.com/clouds/200/000000/forgot-password.png" /></span>
			<span><img src="https://img.icons8.com/bubbles/200/000000/password.png" /></span>
            <h2 class="mt-3">Forgot your password?</h2>

            <div class="reset_password_action_grid__text mt-3 mb-4">
                Enter your email address below, and we'll email instructions for setting a new password? 
				<br>
				<p class="alert alert-danger pt-2 pb-3" role="alert">(Allowed User E-mail only).</p>
            </div>

            <form method="POST">
                <div class="form-group pt-3">
                    {% csrf_token %}

                    {% bootstrap_form form %}

					{% buttons %}
	                    <input class="reset_password_action_grid__button  form-control btn btn-outline-info mt-3 pt-2" type="submit" value="Send me instructions!">
					{% endbuttons %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
