<!-- templates/registration/password_reset_complete.html -->

{% extends 'circle/base.html' %}

{% block title %}
    Password Changed.
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
{% endblock %}

{% block body %}
    <div class="auth container container-fluid text-center">
        <div class="auth__grid justify-content-centre">
			<img class="auth__grid__img" src="https://img.icons8.com/bubbles/200/000000/checked.png" />
			<h2 class="auth__grid__title"> Password reset complete.! </h2>
			<div class="auth__grid__text">
				Your new password has been set. You can log in now.
			</div>
			<div class="row">
				<div class="col-md-12">
					<a href="{% url 'login' %}">
						<button class="form-control form-control-lg btn btn-outline-info btn-lg">
							Log In
						</button>
					</a>
				</div>
			</div>
        </div>
    </div>
{% endblock %}
