<!-- templates/registration/password_reset_done.html -->

{% extends 'circle/base.html' %}

{% block title %}
    Email Sent.!
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
{% endblock %}

{% block body %}
    <div class="auth container container-fluid text-center">
        <div class="auth__grid justify-content-center">
			<img class="auth__grid__img" src="https://img.icons8.com/clouds/200/000000/send-letter-1.png" />
            <h2 class="auth__grid__title">Check your inbox.</h2>
            <div class="auth__grid__text">
                We've emailed you instructions for setting your password. You should receive the email shortly!
            </div>
        </div>
    </div>
{% endblock %}
