Created by Priyansh Bordia &copy; 2021 Marketplace, Inc.

<img src="https://img.icons8.com/bubbles/200/000000/square.png" />
<img src="https://img.icons8.com/bubbles/50/000000/deathly-hallows.png" />
<img src="https://img.icons8.com/clouds/100/000000/deathly-hallows.png" />
<img src="https://img.icons8.com/bubbles/50/000000/herkules-poirot.png" />
<img src="https://img.icons8.com/bubbles/50/000000/museum.png" />
<img src="https://img.icons8.com/clouds/50/000000/museum.png" />

<img src="https://img.icons8.com/bubbles/50/000000/stormtrooper.png" />

<img src="https://img.icons8.com/clouds/50/000000/send-letter-1.png"/>

<img src="https://img.icons8.com/clouds/100/000000/new-letter.png" />

<img src="https://img.icons8.com/bubbles/50/000000/secured-letter.png" />

<img src="https://img.icons8.com/bubbles/50/000000/login-rounded-right.png" />

<img src="https://img.icons8.com/bubbles/50/000000/add.png" />
<img src="https://img.icons8.com/bubbles/50/000000/delete-sign.png" />
<img src="https://img.icons8.com/bubbles/50/000000/download.png" />
<img src="https://img.icons8.com/bubbles/50/000000/downloading-updates.png" />
<img src="https://img.icons8.com/bubbles/50/000000/form.png" />

<!-- <link rel="icon" href="https://img.icons8.com/clouds/100/000000/new-letter.png" /> -->
<!-- <link rel="icon" href="https://img.icons8.com/clouds/100/000000/shop-local.png" /> -->
<!-- <link rel="icon" href="https://img.icons8.com/clouds/64/000000/online-shop-shopping-bag.png" /> -->


<i class="fa fa-bell" aria-hidden="true"></i>
<i class="fa fa-bookmark" aria-hidden="true"></i>
<i class="fa fa-bookmark-o" aria-hidden="true"></i>
<i class="fa fa-trash" aria-hidden="true"></i>
<i class="fa fa-pencil" aria-hidden="true"></i>


<div class="card text-white bg-dark mt-3 mb-3" style="max-width: 18rem;">
	<div class="card-header">Header</div>
	<div class="card-body">
		<h5 class="card-title">Dark card title</h5>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
			content.</p>
	</div>
</div>
<div class="card">
	<div class="card-header">
		Featured
	</div>
	<div class="card-body">
		<h5 class="card-title">Special title treatment</h5>
		<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		<a href="#" class="btn btn-primary">Go somewhere</a>
	</div>
</div>




<br>
<hr>
<h3>Passengers Details</h3>
<br>
{% if relatives %}
<table class="center">
	<thead>
		<tr>
			<th>UPIDMA</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Details</th>
		<tr>
	</thead>
	<tbody>
		{% for relative in relatives %}
		<tr>
			<td>{{ relative.id }}</td>
			<td>{{ relative.first }}</td>
			<td>{{ relative.last }}</td>
			<td><a class="btn btn-outline-warning mt-2 mb-2 ml-2 mr-2" href="{% url 'passenger' relative.id %}"
					role="button">Show</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<div class="alert alert-success" role="alert">No Passengers Onboard.</div>
{% endif %}
</div>

<span><img src="https://img.icons8.com/bubbles/200/000000/user-male.png" /></span>
{% if person.id == request.user.id %}
			<div class="conatainer container-fluid">
				<div class="justify-content-center">
					<form class="form-group" action="{% url 'update' %}" method="post">
			
						{% csrf_token %}
			
						<div class="form-group form-text h4">
							<input class="form-control col-md-4 ml-auto mr-auto" type="text" autocomplete="off" autofocus
								placeholder="First Name" name="first" value="{{ person.first_name }}"></span>
						</div>
						<div class="form-group form-text h4">
							<span><input class="form-control col-md-4 ml-auto mr-auto" type="text" autocomplete="off" autofocus
									placeholder="Last Name" name="last" value="{{ person.last_name }}"></span>
						</div>
						<div class="form-group form-text h4">
							<input class="form-control col-md-4 ml-auto mr-auto" type="email" autocomplete="off" autofocus
								placeholder="E-mail" aria-describedby="emailHelp" name="email" value="{{ person.email }}">
						</div>
						<button class="btn btn-outline-primary mt-4" type="submit" name="button">Update Details</button>
					</form>
				</div>
			</div>
{% else %}

	<!-- 
			{% for article in person.rented %}
				<h4>{{ article.id }}</h4>
			{% empty %}
				<div class="alert alert-success" role="alert">Nothing Rented.</div>
			{% endfor %}
	
			{% for article in person.bookmarked %}
				<h4>{{ article.id }}</h4>
			{% empty %}
				<div class="alert alert-success" role="alert">Nothing Bookmarks.</div>
			{% endfor %}
	
			{% for article in person.purchased %}
				<h4>{{ article.id }}</h4>
			{% empty %}
				<div class="alert alert-success" role="alert">Nothing Purchased.</div>
			{% endfor %}
	
			{% for article in person.display %}
				<h4>{{ article.id }}</h4>
			{% empty %}
				<div class="alert alert-success" role="alert">Nothing on Display.</div>
			{% endfor %}
	
			{% for article in person.sold %}
				<h4>{{ article.id }}</h4>
			{% empty %}
				<div class="alert alert-success" role="alert">Nothing Sold.</div>
			{% endfor %}
			 -->


<li class="nav-item">
	<a class="nav-item nav-link" href="{% url 'persons' %}">
		Persons
		<!-- <img src="https://img.icons8.com/bubbles/50/000000/group.png" /> -->
	</a>
</li>
<li class="nav-item">
	<a class="nav-item nav-link" href="{% url 'users' %}">
		Users
		<!-- <img src="https://img.icons8.com/bubbles/50/000000/check-male.png" /> -->
	</a>
</li>
<li class="nav-item">
	<a class="nav-item nav-link" href="{% url 'articles' %}">Articles</a>
</li>