{% extends "circle/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}

    {% if user.is_authenticated %}
        <div class="container container-fluid text-center mt-4 pt-3">
            <div class="form-home-container justify-content-center">
                <span><img src="https://img.icons8.com/clouds/200/000000/meeting.png" /></span>
                <div class="home-head h2 mt-2">
                    Hi! <span id="username">{{ user.username }}</span>, <br>
                    Welcome Back :)
                </div>
                <a class="form-home-button btn btn-outline-info btn-lg mt-3" href="{% url 'travel' %}" role="button">Travel</a>
            </div>
        </div>
    {% else %}
        <div class="container container-fluid text-center mt-4 pt-3">
            <div class="form-home-container justify-content-center">
                <span><img src="https://img.icons8.com/clouds/200/000000/meeting.png" /></span>
                <div class="home-head h2 mt-2 mr-auto ml-0">
                    <span id="username">Welcome</span>, <br>
                    Log In to travel around the globe.
                </div>
                <a class="form-home-button btn btn-outline-info mt-3" href="{% url 'login' %}" role="button">Log in</a>
            </div>
        </div>
    {% endif %}

{% endblock %}