<!-- "template/circle/search.html" -->

{% extends "circle/base.html" %}

{% block title %}
    Search
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    
    <div class="container container-fluid">
        <div class="search-container">
            <form method="post" class="form-group">
                <input type="text" placeholder="Type keywords for what you want to find.!"/>
                <button class="btn btn-outline-info btn-lg">Find.!</button>
            </form>
        </div>
    </div>

{% endblock %}